[2015-05-28 13:33] alextime opened #4 "sorting using a different column on another table"
Is it anyway possible to sort using another table field? Example: Users_table(id, name, country_id), Countries_table(id, name). There is anyway to sort the users table based on country name and not country id?

[2015-05-31 20:39] Kyslik commented on #4
No it is not possible :( since this package is "primitive", what I mean it is lightweight and does not deal with relationships at all.

[2015-06-01 10:58] #4 closed

[2015-06-10 17:48] janareit opened #6 "createMatcher() failing in ColumnSortableServiceProvider with L5.1"
Its been reconfigured in L5.1

http://laravel.com/docs/5.1/blade#extending-blade

[2015-06-11 11:41] Kyslik commented on #6
Yes I will update for 5.1 soon its going to be version 3.0.0

[2015-06-11 16:00] Kyslik commented on #6
There is a new release for L5.1 use ~3.0.0 and check out readme.

[2015-06-11 16:00] #6 closed

[2015-06-12 03:48] janareit commented on #6
Thanks for fixing it so quickly;)

[2015-06-27 04:01] husnulhamidiah opened #7 "Route [] not defined."
I do exactly what's in README.md but I got this error
[code]

[2015-07-09 07:42] Kyslik commented on #7
Are you sure it is caused by this package?

[2015-08-05 15:48] anhtuank7c commented on #7
I do too.
Step by step follow you guide.
But finally get Route [] not defined error

[2015-08-06 09:59] Kyslik commented on #7
I will take a look at this issue asap. Do you use L 5.1 or L 5.0?

[2015-08-07 06:55] anhtuank7c commented on #7
I use laravel 5.1

[2015-08-10 08:51] Kyslik commented on #7
I can not reproduce the problem, any other packages that you use?

[2015-08-11 11:07] Kyslik commented on #7
@anhtuank7c can you post routes.php?

[2015-08-25 12:58] johnarc5 opened #8 "How to apply sortable() on join results queries"
How to apply sortable() on join results queries and by using QueryBuider like DB::table('xyz').
please help me on this..otherwise for a single table it is working fine.. thanks

[2015-08-26 09:13] Kyslik commented on #8
This package doesn't work with joins yet :( and I don't have a lot of time to make it work that way. Perhaps in winter (northern hemisphere).

Any commits are welcome!

[2015-09-28 14:20] saimiris commented on #7
I have the exact same issue here. I followed step by step your guide and I got this error.

[2015-09-28 14:26] Kyslik commented on #7
Can you post example of your routes.php

[2015-09-28 14:27] saimiris commented on #7
Sure!

Route::get('admin/students', [
    'middleware' => 'auth', 'uses' => 'AdminController@getStudentsList'
]);

Thomas Aussenac
Freelance Android developer
www.saimiris.com
(+34) 649 571 977

On Mon, Sep 28, 2015 at 4:26 PM, Martin Kiesel <notifications@github.com>
wrote:

[2015-09-28 16:13] Kyslik commented on #7
Oh I see why it doesnt work. You need to name your routes, what I mean try this route instead:

    Route::get('admin/students', [
        'middleware' => 'auth',
        'as' => 'admin.students.index',
        'uses' => 'AdminController@getStudentsList'
    ]);

[2015-09-28 16:45] Kyslik commented on #7
Now non-named routes are supported, just download newest release 3.0.2 (`$ composer update`)

see details below:

https://github.com/Kyslik/column-sortable/blob/master/src/Kyslik/ColumnSortable/Sortable.php#L57

[2015-09-28 16:45] #7 closed

[2015-09-29 12:59] saimiris commented on #7
Many thanks.

[2015-10-01 08:34] Kyslik commented on #8
@johnarc5 Hello, could you elaborate a little; what kind of ordering do you have in mind?

[2015-10-06 16:38] saimiris commented on #8
Hi there,

Your package is really great but yes, it would be even better if we could do something like:

- say you have a Student model that has a hasOne relationship to a User model (through a "user_id" field).

- when paginating a Students list, I would like to be able to sort the Students by User's email with something like this: @sortablelink ('student.user.email', 'Email') or @sortablelink ('

[2015-10-06 16:43] Kyslik commented on #8
Thank you for feedback, I am going to look at this for sure.

I guess it can be applied only for 1-1 relationship.

[2015-10-07 08:06] saimiris commented on #8
Actually it could be interested also for a 1-many relationship for some
special cases, like for instance sorting the SUM of a field of the
associated model.

But if you extend your module to work with a 1-1 relationship, that would
just great!!! :-)

Many thanks!

On Tue, Oct 6, 2015 at 6:43 PM, Martin Kiesel <notifications@github.com>
wrote:

[2015-10-13 05:14] johnarc5 commented on #8
Whenever i have time i also will look on to it and will make available changes to make it best.

[2015-10-14 19:57] petrovitch opened #10 "How to change color of column headings"
[code]

My heading backgrounds are dark so I can't see the text.  In your code you have the column name wrapped with an anchor.  Surrounding the anchor with a style doesn't work.  The editor will not allow me to change your code even after changing permissions.

[code]

Please add this feature.

[2015-10-17 14:32] Kyslik commented on #10
Do you wish to add class to a anchor element?

[2015-10-17 15:33] #10 closed

[2015-10-18 14:56] petrovitch commented on #10
Thank you so much for adding the anchor_class.  Is there any way to set the
initial sort?

On Sat, Oct 17, 2015 at 10:33 AM, Martin Kiesel <notifications@github.com>
wrote:

[2015-10-18 15:23] petrovitch commented on #10
One other issue.  I have a column using snake class, i.e., "uscf_rating",
but that doesn't look good in the headings.  I need to use a space ... so
it would be nice if your code would replace with space with underscore.
Obviously, it does not sort with the space.

<th class="text-center report-headings">@sortablelink ('USCF Rating')</th>

On Sun, Oct 18, 2015 at 9:56 AM, Kenn Thompson <kennthompso

[2015-10-18 16:06] Kyslik commented on #10
Hello @petrovitch:

No there is not.

you can use `@sortablelink ('uscf_rating', 'USCF Rating')`, see [this](https://github.com/Kyslik/column-sortable#blade-extension).

[2015-10-18 16:25] Kyslik opened #11 "Set initial / default sorting column."
something like

[code]

[2015-10-18 18:14] petrovitch commented on #10
Great!  That answered my next question too.  LOL

On Sun, Oct 18, 2015 at 11:06 AM, Martin Kiesel <notifications@github.com>
wrote:

[2015-10-18 23:49] Kyslik commented on #11
in master branch is now avalible this functionality

[code]

[2015-10-19 09:10] #11 closed

[2015-10-19 09:13] Kyslik commented on #10
Well there is no point having _initial_ sorting and _default_ sorting because we can not determine which is which, so there is only _default_ sorting;

Please read new readme and search for 3.0.4 changes.

[2016-01-15 22:25] neutralrockets opened #12 "Array to string conversion error when column name is not defined in the config"
I get an

when trying to sort on a column name that is not defined in the config (for example 'unit_price').

The issue is that `$icon` is initialized as an array (the config):

[code]

Then on line 85, `$icon` is appended with the sort order presumably to get the default font-awesome icon for ascending/descending:

[code]

Hence the array to string conversion error.

I think this is easily fixed

[2016-01-16 12:12] Kyslik commented on #12
I will take a look at this later today.

[2016-01-16 15:22] #12 closed

[2016-01-16 15:22] Kyslik commented on #12
Fixed, thank you.

[2016-01-23 23:23] Kyslik commented on #8
This is now done in 5.0.0 release, see readme for more information.

https://github.com/Kyslik/column-sortable#one-to-one-relation-sorting--example

[2016-01-25 16:40] Kyslik opened #13 "Exceptions"
Let package throw only one exception so end user does not have to catch all of them...

[2016-01-26 23:09] hbody opened #14 "Merge query parameters"
Hi.
I'm using Eloquence searchable with your package.
I have url like this: `/admin/products?q=keyword`
But when I want to order results with this code:

     @sortablelink ('status', 'Status')

It generating url like `/admin/products?sort=status&order=desc`

Can you fix it, please?
I temporary fixed it by using this code instead:

    {{ route( 'admin.products', array_merge($request->except('sort

[2016-01-27 14:49] Kyslik commented on #14
oh I see so you want to change the "sort" parameter name?

[2016-01-27 15:04] Kyslik commented on #4
since v5.0.0 you can sort one to one relations.

[2016-01-27 15:12] Kyslik commented on #14
5.0.2 v fixes this. Thanks for the issue.

[2016-01-27 18:49] #13 closed

[2016-02-05 09:25] Erwane opened #15 "Multiple sort"
Hi and thanks for this module.

There is a way to create a sortableLink but with multiple column ?

On "num column" i want to sort on column "num" AND "date_year" (same direction)

I have 2 special fields, substrings of another and want to sort on them but only in one action.

[2016-02-05 19:03] Kyslik commented on #15
Its not possible.

Write me SQL select like that and I will think about how to implement it.

[2016-02-07 11:08] #15 closed

[2016-02-09 13:37] neutralrockets commented on #8
Hi,

I too am interested in being able to sort on some other column on a related table. For example, being able to sort Addresses by their Country name.

[code]

One way I have been able to achieve this using this package is by extending the "queryOrderBuilder" method in the Sortable trait slightly:

[code]

Now by adding an additional "overriding" method in the Address model, I am able to get the

[2016-02-09 14:39] Kyslik commented on #8
What relation is between the two? (Country/Address).

[2016-02-09 21:45] neutralrockets commented on #8
The relationship is one-to-many (each Address can be in one Country, each Country can contain many Addresses).

There is a foreign key on Address table called country_id but I am trying to sort a list of addresses by country name instead.

I hope the above example and solution makes some sense. The capability just allows users to extend the sorting behaviour for specific columns.

[2016-02-10 02:05] neutralrockets commented on #8
Here's another example to illustrate the "derived" attribute use case.

Say we have a Product model that has a length, width and height column in the database. In our view, we have a table that lists all the products and their length, width and height but now we also have a derived attribute "volume" that is the product of length * width * height. Now we want to be able to sort on volume, even tho

[2016-02-14 10:31] damyrm opened #16 "How to use trans with @sortablelink"
Hello,

No sure if it's possible but I would like to use localization with your directive @sortablelink on my headers.
This is not working:
<th>@sortablelink('user.username',"{{ trans('user.username') }}")</th>

Any way to do it?

Thank you

[2016-02-14 10:42] damyrm commented on #16
Ok My mistake sorry

I used a "{{ ....  }}"

[2016-02-14 11:06] Kyslik commented on #16
I never thought about translating, thank you for this.

[2016-02-14 20:42] Kyslik opened #17 "Ability to change asc / desc class suffix."
(citation from disqus thread on [packalyst.com](http://packalyst.com/packages/package/kyslik/column-sortable)

[2016-02-15 12:21] #17 closed

[2016-02-15 12:57] Kyslik commented on #8
Thank you for detailed "report" I will definitely keep this issue open or perhaps move it to another one and when time comes I will implement this, make documentation etc. :)

Before that I will try to make tests for package so further developing is much easier.

[2016-02-15 13:03] Kyslik opened #18 "Readme structure, Wiki page for package."
Clean up readme file and create wiki page(s) for package.

[2016-02-18 10:37] damyrm commented on #16
Hi Kyslik,

I have another (newbie) question:

I use pagination and a search, and I want to keep them when I'm ordering.
In routes.php, I use Route::resource and no parameters.

It will no be better to replace in Sortable[156]
$queryString = http_build_query(array_merge(Request::route()->parameters(), $parameters));
by
$queryString = http_build_query(array_merge(Input::except('sort','order'), $par

[2016-02-18 11:10] Kyslik commented on #16
Which version of package do you use? line 156 is different from current (5.0.3).

I just tested resource routing and it works fine.

---

Note below has nothing to do with problem described its just my little advice how I do it.

[2016-02-18 15:02] damyrm commented on #16
My apologies.

I was on 5.0.0
In 5.0.3 you are doing it correctly
$queryString = http_build_query(array_merge(Request::except('sort', 'order', 'page'), $parameters));

I removed ^ in my composer.json couple of days ago and forgot it.

Thank you again for your help  and for this really very useful lib.

Ps: Not related to the bug
I still use Route:ressource() for the juniors in my team, we will ref

[2016-02-18 15:02] #16 closed

[2016-03-07 14:29] neeltjechanterie opened #21 "BadMethodCallException in Builder.php"
I'm working on a laravel 5.2 project,
when i put
`$users = $user->sortable(['id' => 'desc'])->paginate(10);`
 or any other code with the `sortable()` method I get this error:

Is this a bug for laravel 5.2 or am I doing something wrong?
I'm new to Laravel, but this package seems very good for my project!

[2016-03-07 14:59] Kyslik commented on #21
In your model do you use, Sortable trait?
See readme.

[2016-03-07 15:02] neeltjechanterie commented on #21
This is my model,
I use the traid as you can see:

[code]

[2016-03-07 15:08] Kyslik commented on #21
Are you trying to sort relation model? (For now only has one), please also see readme section with exceptions. I will investigate when I get to my computer (in 2 hours or so)

[2016-03-07 15:14] neeltjechanterie commented on #21
For now it is not a model with an relation.

When i tried the try & catch method phpStorm said that "ColumnSortableException" is an undefined class, so the try & catch method could not be executed.

So I think I forgot to declare something but I don't know what ...

[2016-03-07 15:19] Kyslik commented on #21
did you installed package properly?

Try going thru installation readme section again; step by step.

It seems that package is not being registered.

[2016-03-07 15:21] neeltjechanterie commented on #21
I tried the installation already 3 times,
that's why I don't get it that it's not working with me ...

[2016-03-07 16:40] Kyslik commented on #21
could you please paste stack trace? (thats the output when you see the error)

[2016-03-07 16:51] neeltjechanterie commented on #21
Haha!

I've tested it in another table and it works!
It's probably because I work with scaffold auth, and that's why it doesn't work with my user table.
I solved it with simple php in the user table and use the package in my other table.

But thanks for the quick response!

[2016-03-07 17:50] #21 closed

[2016-03-26 10:52] Chalkin opened #24 "Using laravel accessor for sortable"
Hi,

is it possible to use a property from Laravels accessor for sorting? I could not get it to work.

Example:
Model:
`public function getFullnameAttribute()
    {
        return $this->firstname . ' ' . $this->lastname;
    }`

that gives me the property "fullname" and now i can use it in my views. But when i use
`<th>@sortablelink ('fullname', 'NAME')</th>` and try to sort that field, it's just

[2016-03-27 10:59] Kyslik commented on #24
I am not sure, and I will try to implement this;

for now, try to use following; since you concatenate first name and last name and first name is going to be "first". If you change your accessor around change sortablelink also.

    <th>@sortablelink ('firstname', 'NAME')</th>

[2016-03-31 06:37] MirlanBekturov opened #25 "Bug in One To One Relation sorting"
**I have model Blog with hasOne relation to User model**
[code]

**Request is invalid**
[code]

[2016-03-31 20:37] Kyslik commented on #25
Do you use ~5.0.0 version (latest, NOT master)?
Are you sure it is caused by this package?

You have foreign key other way around try following:
`return $this->hasOne('App\Models\User', 'id', 'user_id');`

[2016-04-01 06:40] MirlanBekturov commented on #25
My composer require
`"kyslik/column-sortable": "^5.0",`

When i use `return $this->hasOne('App\Models\User', 'id', 'user_id');`

return query
`inner join `users` on `blogs`.`id` = `users`.`id``

[2016-04-01 08:18] MirlanBekturov commented on #25
Maybe i found bug in `Sortable.php`

i changed
 `$parentKey = $parentTable . '.' . $parentModel->primaryKey; // table.key`
to
`$parentKey = $parentTable . '.' . $relatedModel->getForeignKey(); // table.key `

[2016-04-01 08:19] MirlanBekturov commented on #25
Аfter working correctly

[2016-04-01 09:01] Kyslik commented on #25
Thank you I will try to fix it soon. If its confirmed, fix will be in new 5 minor version.
I will close and inform you. Eta 3 days.

[2016-04-01 09:05] Kyslik commented on #25
Could you also paste your two models you have been working with?
(I mean code)

[2016-04-01 09:38] MirlanBekturov commented on #25
**I will show only the key points associated with sorting**

_Blog Model_
[code]

_User Model_

[code]

[2016-04-03 21:51] ivanhalen commented on #8
+1 for a One-To-Many relationship support

[2016-04-03 22:03] ivanhalen opened #26 "Show the proper icon on page load, so that user knows what column is sorted by default"
Hi, I have a little issue, hope you can help :-)
Given a query like:
[code]
And a table that has of course a column sortable by name:
[code]
I'd like to show the proper icon when the page loads (in this case, the `fa-sort-alpha-asc` icon instead of the generic `fa-sort`), so that user knows what column is sorted by default

Thank you :-)

[2016-04-04 09:22] MirlanBekturov commented on #26
Hello Kyslik, about this problem, I found a solution

`link` function in `sortable.php` I added the condition

public static function link(array $parameters) //Extending Blade; Blade sends array.
    {
        if (count($parameters) === 1) {
            $parameters[1] = ucfirst($parameters[0]);
        }
        //I added the condition
        if(isset($parameters[2]))
        {
            $defau

[2016-04-04 09:27] MirlanBekturov commented on #26
I added 2 condition
[code]
and
[code]

in **view file** you must add a parameter like this
`@sortablelink ('title', 'Title', 'asc')`
or
`@sortablelink ('title', 'Название', 'desc')`

[2016-04-04 09:29] MirlanBekturov commented on #26
how do you think this could be the solution?

[2016-04-04 10:29] Kyslik commented on #26
Hello @ivanhalen and @MirlanBekturov I am really busy with university now (lots of assignments). But I will try to address all the issues here as soon as possible.

---

I've read all the comments on this issue, I like all the suggestions! And @MirlanBekturov really nice solution, I will take a look + test it out and make it a new minor version + document it.

I will take also take a look at the 3

[2016-04-04 11:21] ivanhalen commented on #26
@MirlanBekturov: I tried your solution but it doesn't work in my case... maybe I was not clear, so I try to explain better with images help

I slightly modify my first example to fit the screenshots below, so the query is:
[code]
and the link is:
[code]
This is a visual comparison of how it is now and how I'd like it to be:

![001](https://cloud.githubusercontent.com/assets/835377/14246502/d95bb56

[2016-04-04 11:27] Kyslik commented on #26
@ivanhalen I know exactly what you need (in this issue), I am working on it right now + adding some things along the way.

---

Thank you for support. Donations are unnecessary (maybe if I reach 10k downloads haha).

[2016-04-04 11:44] Kyslik commented on #24
@Chalkin bump. Did my suggestion help?

[2016-04-04 11:45] Chalkin commented on #24
yeah, it helped as a workaround. But still would be better if the accessors would be sortable as well since not all accessors are as simple as the fullname :)

[2016-04-04 11:58] Kyslik commented on #26
@ivanhalen

BTW: when I do page load I get "default order" as on picture. You don't have it on purpose? (`fa fa-sort`).

<img width="468" alt="screen shot 2016-04-04 at 1 55 32 pm" src="https://cloud.githubusercontent.com/assets/2067589/14247254/2fca56d8-fa6d-11e5-99ff-dca081389a28.png">

[2016-04-04 12:17] ivanhalen commented on #26
@Kyslik : yes, I can see the default `fa fa-sort` icon (I removed it in the custom configuration of my page) but that's just the point: in your picture above, what is the default sort order? Maybe Id? Maybe Name? Or maybe Email? Or Phone? :-) as you can see, they have all the same icon and there's no way to know what is the default sort
I supposed that there was no way to make the `link()` method

[2016-04-04 12:22] Kyslik commented on #26
@ivanhalen I solved issue by [`Request::merge()`](https://laravel.com/api/5.1/Illuminate/Http/Request.html#method_merge), I will push it soon.

[2016-04-04 13:02] Kyslik commented on #26
@ivanhalen see 5.0.5 version, if anything is broken please do report it.

[2016-04-04 13:08] Kyslik commented on #24
Great, I will keep this open so I look at it later. I will post here if I update package with accessors support.

[2016-04-04 13:25] Kyslik commented on #25
This is not valid issue, there is nothing to fix, please see
https://laravel.com/docs/5.2/queries#joins

You are defining your relation wrong way! Please do read documentation on [hasOne() relations](https://laravel.com/docs/5.2/eloquent-relationships#one-to-one).

I will post my relations that I test package with.

---

If you inspect closely on line [57](https://github.com/Kyslik/column-sortable

[2016-04-04 13:30] Kyslik commented on #25
Relation inside **User** class (model)
[code]

Relation inside **UserDetail** class (model)

[code]

And blade "link" that is used to test one-to-one sorting
`@sortablelink('detail.phone_number', 'phone')`

---

If you have any troubles feel free to post back.

[2016-04-04 13:30] #25 closed

[2016-04-04 14:23] ivanhalen commented on #26
Oh, it works very fine!!! :+1: I also tried with a 'desc' default ( `->sortable(['first_name' => 'desc'])` ) and it shows the right icon! Many many thanks :-)
I only suggest a little further modification: I noticed that when a column is sorted say 'asc', all the other sortable columns are ready to be sorted 'desc' and viceversa; I find it clearer to 'toggle' the same column (making it ready for 'd

[2016-04-04 14:32] Chalkin commented on #24
cool, thanks so much!

[2016-04-04 14:55] Kyslik commented on #26
@ivanhalen I see what you mean I will implement in next minor version with another config value something like "default_sort" (it will accept, asc, desc, dynamic) where dynamic is what you propose.

[2016-04-04 15:23] #26 closed

[2016-04-08 11:43] irineujunior opened #27 "Belongs to relations"
Here some idea about BelongsTo relationship

[code]

[2016-04-08 12:59] Kyslik commented on #27
There is a branch dedicated to many to many, when I have time I will make it work.

Thank you for suggestions!

[2016-04-12 18:59] alanzhaonys opened #28 "Not to sort by model value"
I have a user table that also holds API tokens. The API token column on the view will display as "YES" or "NO" depends on whether or not the column actually has value.

I don't necessary want to sort by the token value but the display value of "YES" or "NO". Is there a way to configure this?

Thanks

Alan

[2016-04-14 00:00] Kyslik commented on #28
This package works only with database: it formulates query that fetches data (already sorted) which you forward to view, so If I understand you correctly, no it is not possible (to sort by "value not in database").

[2016-04-14 13:34] alanzhaonys commented on #28
Ok, I'll figure something else out. Thank you.

Alan

[2016-04-14 13:34] #28 closed

[2016-06-29 21:54] damyrm opened #29 "trans Thai string and version > 5.0.3 returns blank"
Hi,

I have an app with Thai language (and trans) but since version 5.0.4, I get empty headers for my columns.

 - If I have only Thai characters the result is an empty string:
name' => 'ชื่อ'   => `<th class="sorting_disabled" rowspan="1" colspan="1" style="width: 242px;"><a href="url&amp;order=desc"></a> <i class="fa fa-sort"></i></th>`

- If I add some latin letter at the beginning, the result

[2016-06-30 11:10] Kyslik commented on #29
Hmm, I am not sure how I can help, never dealt with non-latin characters, I can only tell you what is happening with the string.

Blade "extension" sends array to this function - https://github.com/Kyslik/column-sortable/blob/master/src/ColumnSortable/Sortable.php#L130 try to debug the input parameter what happens.

[2016-07-06 09:02] Kyslik commented on #29
bump

[2016-07-06 21:52] damyrm commented on #29
Hi Kyslik,

Thanks for the support.

The bug is not from column-sortable but seems to be from the php ucfirst function who seems to returns something strange with Thai characters.

Tests:
ucfirst(cow) = Cow
ucfirst(âëûèç) = âëûèç
ucfirst(ชื่อ) = ���ื่อ

I'll have to check the php config.

Thank you again for your help.

[2016-07-08 09:49] Kyslik commented on #29
You can turn off `ucfirst` just go to config file. Anyway close this when you feel like closing it.

[2016-07-08 20:53] damyrm commented on #29
Sorry forgot to close.
I'm using now : 'formatting_function' => null

Thanks for the support

[2016-07-08 20:53] #29 closed

[2016-07-29 10:59] Khaled-AlSaeed opened #31 "remove empty keys from URL"
when submit search form, empty keys may be exist, ex.:
`/accounts?cat=1&name=abc&year=&month=&sort=name&order=asc`
It is better if we remove the useless paramerter from url
`/accounts?cat=1&name=abc&sort=name&order=asc`

just modify the Sortable.php line 171:
`$queryString = http_build_query(array_merge(Request::except('sort', 'order', 'page'), $parameters));`
add array_filter:
`$queryString = htt

[2016-07-29 20:25] Kyslik commented on #31
Looks nice, I will implement this in new minor update (end of weekend).

[2016-08-01 04:53] #31 closed

[2016-08-01 04:54] Kyslik commented on #31
Thank you for your input. 👍

[2016-08-26 13:11] bezner opened #33 "The space still is an issue in blade extension"
Hi it would be nice to follow Blade pattern here.

https://github.com/Kyslik/column-sortable#blade-extension

The space-less format doesn't work.

Thanks,

Arthur

[2016-08-26 13:33] Kyslik commented on #33
I will check this out; could you please provide simple example (how exactly does your blade directive look like) and version of laravel?

[2016-08-27 14:10] Kyslik opened #34 "Blade directive 2nd parameter while relational sorting - bad anchor text"
Relation one-to-one sorting while using blade directive `@sortablelink('detail.phone_number')` creates bad anchor text `Detail.phone_number` instead of `Phone number` - or `Phone_number`

[2016-08-27 16:02] #34 closed

[2016-08-27 18:38] Kyslik commented on #24
I am afraid this is not doable, because accessor does its magic after database is hit. Accessor modifies data that database provides so package can not sort by it, if it makes any sense...
Simply put column-sortable package modifies queries.

---
Lets say I want to get "dates" and create this simple accessor
[code]

And I do a `dd($users->first())`

[code]
And `dd($users->first()->dates)`:

`strin

[2016-08-27 18:38] #24 closed

[2016-08-27 18:39] #18 closed

[2016-09-01 08:15] Kyslik commented on #33
bump.

[2016-09-02 11:59] bezner commented on #33
Hmm, My code looks like this:

`<tr>
                        <th>Image entry</th>
                        <th>Image exit</th>
                        <th>Ticket</th>
                        <th>@sortablelink ('created_at', 'Date')</th>
                        <th>@sortablelink ('symbol', 'Symbol')</th>
                        <th>Direction</th>
                        <th>Entry</th>

[2016-09-02 12:09] Kyslik commented on #33
Will check "with" spaces between directive and brackets.

Would you mind linking the blade "convention" you are referring at first post?

[2016-09-02 12:15] Kyslik commented on #33
"Doesnt work" would not help to anyone... Get me stack trace or error or something to work with.

Version of package also (check composer.json)

[2016-09-02 12:44] Kyslik commented on #33
## Solution

mind the space between opening `<th>` tag and `@sortable(...)`

[code]
### Explanation

Blade expects space whitespace before `@directive`; try this

[code]

outputs

[code]

[2016-09-05 06:56] zenjet opened #35 "Missing pagination links."
When the last page has only 1 record, the pagination links will not appear.

Tried few tables, same result.

Thanks.

Update: Found out this is rather the Laravel pagination prob than column-sortable prob.

Sorry for disturb, any idea how to solve this? Using laravel 5.3. Thanks.

-Steven

[2016-09-05 10:23] Kyslik commented on #35
I just tested and pagination works just fine, I tried to paginate with 5 and 10 per page and it works (total records 100).

![screen shot 2016-09-05 at 12 22 24 pm](https://cloud.githubusercontent.com/assets/2067589/18245066/7ab5b6f0-7363-11e6-9ac5-59d60271eac2.png)

[2016-09-05 10:30] zenjet commented on #35
That's not the case. You try to query 11 records in total and set paginate 10.

Click to 2nd page, you will notice pagination links in 2nd page are missing.

If you couldn't  recreate the error even with this. I shall show you my codes.

Thanks.

[2016-09-05 10:36] Kyslik commented on #35
Ok have 11 records in table(s) and I paginate 10 per page.

my testing view looks like this:

[code]

![screen shot 2016-09-05 at 12 34 55 pm](https://cloud.githubusercontent.com/assets/2067589/18245397/45346dc6-7365-11e6-896c-4c00bfb9f93a.png)

[2016-09-05 10:46] zenjet commented on #35
Index
=========
$users = User::sortable()->paginate(10);
return view('users.index', compact('users'));

View
=========
                	@foreach($users as $user)
           			<tr>
           				<td>{{ $user->id }}</td>
	           			<td>{{ $user->name }}</td>
	           			<td>{{ $user->username }}</td>
	           			<td>{{ $user->email }}</td>
	           			<td>{{ $user->role }}</td>

[2016-09-05 10:55] Kyslik commented on #35
Try "search" for `<ul class="pagination"` maybe HTML/CSS hides it somehow.

I am not sure how I can help you at all :(

[2016-09-05 11:00] zenjet commented on #35
Yeah, that's weird. When the last page has one record only, the links will disappear.

Anyway thanks for your time. Really appreciated :)

[2016-09-05 15:36] #35 closed

[2016-09-07 19:44] #33 closed

[2016-09-08 11:37] jj-meyer opened #36 "Release 5.1.0 refactor causes trans() helper to fail when used as 2nd param of @sortablelink directive"
When using the Laravel translate helper trans() as the second parameter of the @sortablelink() directive, in release [5.1.0](https://github.com/Kyslik/column-sortable/releases/tag/5.1.0), the literal is returned, not the result of the function.

This worked correctly in release 5.0.9, prior to the refactor.

Example: @sortablelink('segment_name',trans('entities.segment_segment_name'))

[2016-09-08 11:48] Kyslik commented on #36
Will fix this tonight, thanks for informing me!
Just use 5.0.9 for now.

[2016-09-08 13:32] Kyslik commented on #36
Should be fixed in 5.1.1, please do close issue if everything works as expected.

Thanks

[2016-09-09 20:48] Kyslik commented on #27
Implemented in dev-tests

[2016-09-09 20:48] #27 closed

[2016-09-09 20:57] Kyslik commented on #8
https://github.com/Kyslik/column-sortable/issues/8#issuecomment-181867738

I will implement this soon.

[2016-09-09 21:23] Kyslik commented on #8
@neutralrockets Hey, I am really glad you posted this here, I am toying with "overriding" and it is pretty awesome!

you can check that out on dev-master thank you a TON!

[2016-09-09 21:29] #8 closed

[2016-09-09 21:29] #36 closed

[2016-09-10 10:57] jj-meyer commented on #36
Perfect. Sorted, thanks.

[2016-09-19 09:09] marcoocram opened #37 "Relation - count order?"
Hi!

How can we order a column that is a count() from a relation?

[2016-09-19 09:14] Kyslik commented on #37
Hello please try reading #8 or documentation regarding ["overloading"](https://github.com/Kyslik/column-sortable#columnsortable-overloading-advanced)

You can create your own query and direction is determined by package itself (you just need to pass it).

[2016-09-19 09:18] marcoocram commented on #37
sorry!! i don't see the closed issues :S

[2016-09-19 09:35] #37 closed

[2016-09-19 09:59] marcoocram opened #38 "Extra GET parameters at blade template"
Hi, it's possible add initial extra GET parameters at blade template?

Something like this:

@sortablelink('name', 'name', 'sec=test')

Thanks!

[2016-09-19 10:14] Kyslik commented on #38
Hello, no it is not possible, `@sortablelink` does work with "extra" parameters.

But I see what you mean (and possible use case) I might implement that in future.

[2016-09-19 10:22] marcoocram commented on #38
Another problem (i don't know if open extra issue) is that if i use a relationship order (like client -> projects), if i use the same field number the order uses the parent field.

Example:

Clients has projects. I want to order the projects by clients.name, so i use the order 'clients.name' . The SQL gets: 'SELECT * FROM projects INNER JOIN clients ON clients.id = projects.client_id **ORDER BY na

[2016-09-19 10:26] Kyslik commented on #38
Please do open an extra issue, i will take a look at it soon.
(Dont have laptop near by, answering from phone)

[2016-09-19 10:27] marcoocram opened #39 "Same field name, two related tables"
Original:

Another problem (i don't know if open extra issue) is that if i use a relationship order (like client -> projects), if i use the same field name the order uses the parent field.

Example:

Clients has projects. I want to order the projects by clients.name, so i use the order 'clients.name' . The SQL gets: 'SELECT * FROM projects INNER JOIN clients ON clients.id = projects.client_id **OR

[2016-09-19 11:14] Kyslik commented on #39
This is true! Thank you for reporting.

`Column 'name' in order clause is ambiguous.`

I will fix this tonight

[2016-09-19 12:24] Kyslik commented on #39
You may use `dev-master` for now. I will draft new minor version later.

[2016-09-19 18:43] #38 closed

[2016-09-19 18:45] Kyslik commented on #38
Please do read documentation, for short you can use something like this

`@sortablelink('name', 'name', ['sec' => 'test'])`

[2016-09-19 18:49] #39 closed

[2016-09-20 05:54] srtsh19 opened #40 "ColumnSortable overloading not working yet?"
I tried to use the ColumnSortable overloading but found out its not working yet . It only refreshes the page without sorting. I tried to die and dump within the function but it seems that the function is not being called anywhere.

[2016-09-20 17:14] Kyslik commented on #40
Hello, take a look at my code example:

    public function addressSortable($query, $direction)
    {
        return $query->join('user_details', 'users.id', '=', 'user_details.user_id')
                    ->orderBy('address', $direction)
                    ->select('users.*');
    }

This is inside *User.php* (model), and while using debugbar this is query that is run

    select `users`.* from

[2016-09-21 06:11] srtsh19 commented on #40
It works !!!! I switched to 5.1.3 from 5.0.0 and it works as expected. Thank you so much and sorry for the trouble.

[2016-09-21 06:19] srtsh19 commented on #40
But there seems to be problem with same column names in different tables,
I used @sortablelink('name') in two fields and one is working and the other is throwing exception
Call to undefined method Kyslik\ColumnSortable\Sortable::link() ?/

[2016-09-21 07:27] Kyslik commented on #40
Please share code, or explain how to reproduce the problem.

[2016-09-21 09:42] Kyslik commented on #40
I see what happened you need to run artisan command

`$ php artisan view:clear` since there was change in blade directive and you had views already compiled and saved for future presenting.

[2016-09-21 10:00] srtsh19 commented on #40
yes , that did the thing . Thank you so much for your replies @Kyslik

[2016-09-21 10:06] #40 closed

[2016-09-26 15:50] enrichit commented on #21
I have no freaking clue what's going on but for some reason moving my User model out of my `\App\Entities` directory worked for me. Not an issue with this library, just trying to help anyone searching through the project issues.

For the record, local scopes as a whole were not working when my User model was in `\App\Entities\User`, I moved it to simply `App\User` and now it's all working for me.

[2016-09-26 16:01] Kyslik commented on #21
After moving any file anywhere do `$ composer dumpautoload`

[2016-09-27 12:19] enrichit commented on #21
I did both those things (at least I think I did). Spent a good few hours head scratching. The strange thing was that it was only the User model that was affected. What was happening was the User model was ignoring [model local scopes](https://laravel.com/docs/5.3/eloquent#local-scopes) which is what the `Sortable` trait leverages. Even a simple test scope directly on the model didn't work.

[2016-09-30 05:56] YokiToki opened #41 "Sorting hasOne with select and avg."
In Model

    public function user()
    {
        return $this->hasOne('App\User', 'id', 'user_id')
                            ->select('id', 'fullname', 'avatar');
    }

    public function rating()
    {
        return $this->hasOne('App\Rating', 'recipe_id', 'id')
                            ->selectRaw('recipe_id, avg(rating) as avg, count(rating) as count')
                            ->gr

[2016-09-30 06:07] Kyslik commented on #41
Is this an issue? Or should I add link to the issue from readme?

[2016-09-30 06:21] YokiToki commented on #41
Sorry, that is question, when i call HasOne sorting `rating.avg` and `user.fullname` with select and avg, sorting not work correctly. How to using sorting with us?

[2016-09-30 06:33] Kyslik commented on #41
I will get to you later this day (London time).

Do you get any errors or just bad sql queries?

If you can write your own sorting query use overriding.

Sent from iPhone

[2016-09-30 15:04] Kyslik commented on #41
You definitely need a custom query https://github.com/Kyslik/column-sortable#columnsortable-overloading-advanced
write a query and just plug in `$direction` provided by package

[2016-10-01 06:32] YokiToki commented on #41
Thanks, I'l done. Mayby it would be useful to somebody.

for user method (I could not do it without subquery):

    public function userSortable($query, $direction)
    {
        $subquery = \DB::table('users')
                    ->select('users.id', 'users.fullname', 'users.avatar');

        return $query->leftJoin(\DB::raw(' ( ' . $subquery->toSql() . ' ) users'), 'recipes.user_id', '=', 'user

[2016-10-01 07:24] YokiToki commented on #14
What about if I change default query parameter `page` to `p`?
Example:  `...->paginate(10, ['*'], 'p')`

[2016-10-01 10:00] Kyslik commented on #41
This is great! I will include your example in readme.

[2016-10-01 10:08] #41 closed

[2016-10-01 10:12] Kyslik commented on #14
hmm, let me think about how to fix this

[2016-10-01 10:18] Kyslik commented on #14
Since critical code is inside SortableLink.php which only creates (renders) links, it needs to be a new configuration key-pair. Package at that moment does not access to model... well anything inside SortableLink is static...

[2016-10-01 10:54] YokiToki commented on #14
@Kyslik, it is not critical for me, just noticed this behavior

[2016-10-03 08:12] Kyslik commented on #14
I will probably make new config file with this included, I will leave this open until that change.

(you will be able to change parameters name `sort`, `order`, `page`)

[2016-10-03 08:14] Kyslik opened #42 "More config..."
Support for
change parameters name `sort`, `order`, `page`.

from https://github.com/Kyslik/column-sortable/issues/14#issuecomment-250897902

[2016-10-03 08:14] #14 closed

[2016-10-24 11:13] bobahbi44 opened #43 "FatalErrorException Call to undefined method Kyslik\ColumnSortable\Sortable::link()"
When upgrading from version 5.0.0 to version 5.1.3 an error is

Call to undefined method Kyslik \ ColumnSortable \ Sortable :: link ()

[2016-10-24 11:14] Kyslik commented on #43
Try `$ php artisan view:clear`.

[2016-10-24 11:20] bobahbi44 commented on #43
does not work.
Helped manually delete files from vievs (/storage/framework/views)

[2016-10-24 11:38] Kyslik commented on #43
Yes artisan `view:clear` empties `/storage/framework/views` folder; so everything works?

[2016-10-24 11:51] bobahbi44 commented on #43
OK. Thank you

[2016-10-24 12:00] #43 closed

[2016-11-05 13:41] veganista opened #44 "Sorting by aliases"
Anyway of doing something like this?

[code]

It currently produces the following error:

[code]

It's caused by the table name being added to the column [here](https://github.com/Kyslik/column-sortable/blob/master/src/ColumnSortable/Sortable.php#L78). I've tested by commenting out this line and it works but that's not the solution as it's the fix for https://github.com/Kyslik/column-sortable/issu

[2016-11-05 22:09] Kyslik commented on #44
I will try to make it work. Thank you for suggestion with `$sortable` array.

[2016-11-06 07:39] veganista commented on #44
Yes, overloading for the total field works for my example above.

[code]

I think that this is probably the best solution rather than allowing the configuration of fields to be set.

[code]
Doesn't look great as it's not obvious why you would be repeating the field name and i can't think of another use case for allowing that.

This is related to https://github.com/Kyslik/column-sortable/issues/24

[2016-11-06 21:25] Kyslik commented on #44
I think something like introducing new variable would be nice, maybe:

[code]

Or something similar, I will think about it and make it work.

[2016-11-19 23:36] Kyslik commented on #44
@veganista Hey, I was thinking about fixing this issue.

Anyway, #24 won't be fixed by this because OP uses accessor (manipulation with data **after** it is fetched) so there is no (virtual) column that package can sort by; in example below I show query with full_name and package could sort by it...

[code]

For that purpose there is that overloading functionality (which I use a lot in my projects

[2016-11-20 00:38] #44 closed

[2016-11-20 00:40] Kyslik commented on #44
@veganista try on `dev-master`, see [README.md](https://github.com/Kyslik/column-sortable#sortableas-aliasing) and please report back if everything OK.

[2016-11-20 10:48] Kyslik opened #45 "Sorting multiple tables in one request"
See more http://stackoverflow.com/q/40612147/1564365

[2016-12-10 19:23] veganista commented on #44
Sorry for the delay in getting back on this, took me a while to get back on the project.

Works as expected and much more concise than overloading.

Thanks

[2016-12-15 09:26] chupacabrot opened #46 "Method sortable does not exist."
I used your full example and got this error -

BadMethodCallException in Macroable.php line 74:
Method sortable does not exist.

[2016-12-15 16:17] Kyslik commented on #46
Hello there, I will investigate.

Meanwhile, could you paste your full view?

[2016-12-26 23:49] reypm opened #47 "Loosing "page" parameter on the QUERY_STRING after sort a column"
I did read this https://github.com/Kyslik/column-sortable/issues/14 but is not clear to me about the usage (I couldn't find anything in the README). This is what I have:

- The route is defined at `routes/web.php` as follow:
[code]
- The model is defined at `app/Band.php` as follow:
[code]
- The method `index` of the controller `Band` is defined at `app/Http/Controllers/BandController.php` as foll

[2016-12-28 14:31] Kyslik commented on #47
I will look in to this today. Thank you for nice report.

[2016-12-28 14:37] Kyslik commented on #46
Anything new?

[2016-12-28 15:34] Kyslik commented on #47
I see, yes it is intended to restart pagination if you do "new sort"

Well, if you do a new sort you get different data (different order) so persisting page is useless.

[2017-01-01 05:22] adammparker opened #48 "Support for Laravel Scout"
Is there a simple way that I'm missing to use this with Laravel Scout? Model::search returns a Scout builder and only works off the eloquent model and Model::sortable() returns a database query builder and also only works off the eloquent model.

[2017-01-02 15:56] Kyslik commented on #48
Hmm, I will investigate.

Sortable package is [scope](https://laravel.com/docs/5.3/eloquent#query-scopes) in terms of Laravel so if you can use scopes with Laravel Scout Sortable should work just fine.

[2017-01-02 15:59] #47 closed

[2017-01-02 16:00] #46 closed

[2017-01-03 04:14] Ampzilla commented on #48
I thought the same but I guess Laravel Scout doesn't work that way, maybe I'm not approaching the problem correctly..

**Model::sortable()->search($searchString) throws:**

BadMethodCallException (_call to undefined method Illuminate\Database\Query\Builder::search()_)

**Model::search($searchString)->sortable() throws:**

FatalThrowableError (_call to undefined method Laravel\Scout\Builder::sortab

[2017-01-03 10:23] Kyslik commented on #48
I will leave this open and will investigate, for now I can not help you out, feel free to comment more; when I get to it it will be useful.

Thank you for informing me.

[2017-01-03 23:12] Ampzilla commented on #48
Not a perfect solution (requires an additional query) but a colleague suggested I first pluck a list of IDs with Laravel Scout search and then just pass those in a whereIn with the sortable scope.

$ids = Model::search($searchString)->get()->pluck('id');
$results = Model::whereIn('id', $ids)->sortable()->paginate();

[2017-01-04 08:17] Kyslik commented on #48
Looking nice, I might add this to documentation. I will take a deeper look in to the issue later.

[2017-01-23 11:51] ritterg opened #49 "column-sortable not working with withCount()"
This package seems not to work correctly with the new laravel function [`withCount()`](https://laravel.com/docs/5.4/eloquent-relationships#counting-related-models).

I have models "Entry" and "Vote". One Entry can have many Votes, so in Entry
[code]
`Entry::withCount('votes')` returns the number of votes correctly in `votes_count`, but trying to sort by `votes_count` (via sortable) results in an e

[2017-01-24 08:48] Kyslik commented on #49
Hi! Please try aliasing.

https://github.com/Kyslik/column-sortable#sortableas-aliasing

in your case it should be something like:

[code]

As I am looking at this right now I will improve this, you may try aliasing but if that renders any error just report it back here and stick with overloading.

I will look at this since 5.4 is right around the corner.

[2017-01-24 11:16] ritterg commented on #49
I tried aliasing before but obviously did something wrong.
`protected $sortableAs = ['votes_count'];`
in the Entry model did the trick and is slightly easier than overloading.
Note: no camelcase for the variable name here: "votesCount" doesn't work, "votes_count" does.
Thanks!

[2017-01-24 11:26] Kyslik commented on #49
I will update readme for L5.4, thanks!

[2017-01-24 11:29] Kyslik opened #50 "L5.2 aliasing does not work"

[2017-01-24 11:30] #50 closed

[2017-02-03 16:49] gmask commented on #45
Hmm, I just ran into this: multiple tables being grabbed in one request but `sortable()` is only applied to the first one:

[code]

[2017-02-03 20:34] Kyslik commented on #45
Yes, think about it you are trying to sort two models but you have only one url bar... You cannot sort more than one model per request with this package.

Sent from iPhone

[2017-03-02 11:12] robbielove opened #52 "include column title with request"
Hi,

I am trying to show the sort criteria and It would be nice if the 'title' used in the `@sortablelink()` was passed in the request in addition to sort and order so that it can be shown.

I am currently using `ucfirst($request->sort)`, however this only works if the column name is the same as the title which in some cases will produce differences

[2017-03-02 12:33] Kyslik commented on #52
You can send it yourself

[code]

[2017-03-02 13:01] AurelDragut commented on #45
i have the same issue as @gmask in my code, i have pages where i use sorted models but without links

[2017-03-02 17:12] Kyslik commented on #45
Why would you use this package without using it in views?  If you don't need links just sort your data manually.

Sortable package can be used only once per request because it relies on whatever data are sent through GET parameters (sort, order).

[2017-03-02 18:45] AurelDragut commented on #45
Yeah, you are absolutely right, i did a dumb thing and i corrected it later after my post here.

[2017-03-03 08:33] robbielove commented on #52
I have used that to pass the request input (other filters etc) however it becomes problematic because the title parameters need to be merged with this request data array

I have tried
`@sortablelink('id', 'ID', [$request->except(['title']),'title' => 'ID'])`
and
`@sortablelink('id', 'ID', array_add($request->except(['title']),'title','ID'))`

which works for the first one but then somehow it will

[2017-03-03 09:02] Kyslik commented on #52
I kind of still do not understand what you are trying to achieve.

What about

[code]

[2017-03-03 09:24] Kyslik commented on #14
@YokiToki

Example:  `...->paginate(10, ['*'], 'p')`

Package does not use any page parameter its used only in views to render pagination links
[code]

[2017-03-03 09:25] #42 closed

[2017-03-03 10:15] robbielove commented on #52
that is pretty much what I was after
`@sortablelink('name', 'Name', $request->except(['title']), true))`
`@sortablelink(column, title, pass parameter, pass/merge title))`

[2017-03-03 10:24] Kyslik commented on #52
Its done, I just push new release after test pass.

[2017-03-03 10:46] robbielove commented on #52
I have implemented your changes and it seems to be working perfectly, thank you so much 😊

[2017-03-03 10:54] Kyslik commented on #52
No problem. Have a good artisan adventures.

[2017-03-03 10:54] #52 closed

[2017-03-19 15:51] Kyslik opened #55 "Problem with implementation of #53"
See https://github.com/Kyslik/column-sortable/commit/017d3ff42430e489040a920720d286f4affe9412#commitcomment-21388855 for more details.

[2017-03-19 19:12] ecodrutz commented on #55
maybe we can replace strlen with a closure like:
function($el){return is_array($el)?$el:strlen($el);}

[2017-03-19 19:46] Kyslik commented on #55
Yep that might work, I will fix this tomorrow.

Thank you for suggestion (most likely I will use it).

[2017-03-20 08:41] #55 closed

[2017-03-26 00:24] UOregon-tmason opened #56 "Could 'column-sortable' allow for SQL UPPER() and LOWER() ORDER BY ?"
I would like 'column-sortable' to support SQL `UPPER()` and `LOWER()` functionality.  Do you plan to add this sometime in the future?
As a suggestion, I do not know if this is acceptable in your view, but I was able to provide this functionality by using the "aliasing" feature and changing the code in `queryOrderBuilder()` to use `orderByRaw()` instead of `orderBy()`.

[code]

In the model:
[code]

[2017-03-26 11:27] Kyslik commented on #56
Hmm interesting, what is use case for `UPPER()` and `LOWER()`?

Does sorting yield different results when sorting mixed upper / lower cased entries? If so I could simply make it that column-sortable will use `UPPER` (or `LOWER`) all the time.

[2017-03-26 15:28] UOregon-tmason commented on #56
Thanks for the reply.  I'm using PostgreSQL and Linux OS, so my results return upper case letters first (A-Z) then lower case (a-z).  To return results as you've shown in your example, I have to either sort the resulting array with Laravel (PHP) or I can ask the database to sort the result using "ORDER BY LOWER(name) ASC".    I just started using Laravel so I'm not sure how most people are providi

[2017-03-26 15:50] Kyslik commented on #56
I happen to have some project targeted on PostgreSQL (9.4), I might update **column-sortable** in way that it works "correctly".

What Laravel version do you use? L54 or previous.

[2017-03-26 15:53] UOregon-tmason commented on #56
I'm using Laravel 5.4.
Thanks for considering my suggestion.

[2017-03-26 17:54] Kyslik commented on #56
I have done some research what does following command output (interested in `collate` row)?
[code]

On my Debian 8 VM: I get `en_US.UTF-8`

you can try following snippet to show you how sorting works on your system

[code]

[2017-03-27 14:16] UOregon-tmason commented on #56
On my RedHat 7 host with PostgreSQL v. 9.4.9:
`host=# select name,setting from pg_settings where name in ('lc_collate', 'server_encoding', 'client_encoding');
      name       |   setting
-----------------+-------------
 client_encoding | UTF8
 lc_collate      | en_US.UTF-8
 server_encoding | UTF8
(3 rows)`

`host=# WITH x(name) AS (VALUES ('b'), ('B'),('a'),('a1'),('a3'),('a2'),('B2'),('A'),('b1'

[2017-03-27 19:22] Kyslik commented on #56
So you run OS X server?

[2017-03-27 19:41] Kyslik commented on #56
So you run OS X server?

You might find useful following [thread on SE](http://dba.stackexchange.com/questions/94887/what-is-the-impact-of-lc-ctype-on-a-postgresql-database).

I think this issue is too exotic. I might consider allowing user set boolean to either use `orderByRaw()` or `orderBy()` but there is no time at the moment.

Look at [configuration](https://github.com/Kyslik/column-sortable/

[2017-03-27 19:46] UOregon-tmason commented on #56
I'm actually using a Mac laptop to develop.  My server is RedHat 7 linux.

I appreciate your time.
Thanks.

[2017-03-27 20:33] Kyslik commented on #56
I can not add `LOWER()` / `UPPER()` by default because it might cause performance issues on large tables, (no indexes as I understand).

No problem, I learned a lot.

Thank you.

---

My current project is also going to be on PostgreSQL 9.4 but I develop on MySQL (5.7.17) brew-ed (homebrew), because of Sequel Pro (I cant handle Psequel), I run my tests in `:memory:` (but from time to time I run th

[2017-03-28 08:20] #56 closed

[2017-04-23 18:55] adnanmayo opened #57 "Hi i have a question. how to deal with the dynamic attributes?"
i want to know how to use it with dynamic attributes. e.g

     products
     id | name | price
     1  | p1       | 300
     2  | p2      |400
product_attributes
product_id | attribute_name | attribute_value
1                 |  color                 | red
1                 |  weight              | 20
2                 | size                   | 2
2                 | color                  | gree

[2017-04-23 21:17] Kyslik commented on #57
Can you write custom query that satisfies what you require? (in realm of sorting)

[2017-04-27 11:25] UksusoFF opened #58 "Add active class to @sortablelink"
Hi!
It will be helpful for styling add 'active' class along to anchor_class if this sorting is active.

[2017-04-27 16:01] Kyslik commented on #58
Oh yes I was thinking about this a while back, not really sure what stopped me to add this. I am pretty sure I had a reason.

[2017-08-13 08:34] sguter90 opened #59 "Sorting a column with relationship can shrink result"
Please change join type in queryJoinBuilder to "LEFT JOIN". (currently "INNER JOIN")
Currently the (sorted) result contains only rows which have foreign rows.

Example:

**user:**

| id |    name    |         email          |
|----|------------|------------------------|
|  1 | John Doe   | john.doe@example.com   |
|  2 | Lucy Donut | lucy.donut@example.com |

**user_detail:**

| user_id |  phone

[2017-08-24 00:13] brianally commented on #59
I just ran into this, too. Changing to leftJoin() for hasOne  works. I haven't checked belongsTo yet. I've forked but don't have time for a couple of days.

[2017-08-24 04:32] sguter90 commented on #59
In the meantime I've solved this by using "ColumnSortable overloading" (code example not tested):
[code]
I still think using "LEFT JOIN" per default makes more sense than "INNER JOIN". Nobody would expect that sorting a column can shrink the resultset.

[2017-08-24 14:07] Kyslik commented on #59
I will check this out ASAP.

---
I did not get email that new issue was created; interesting.

[2017-08-24 14:19] Kyslik commented on #59
@sguter90, @brianally would you take a look at #51 and points that I raised?

[2017-08-24 15:59] sguter90 commented on #59
I can't imagine a case where I would set "INNER JOIN" as join type.
The only impact in existing projects should be, that there is the same resultset as before sorting.
If there are empty values, I would expect that this rows will be placed in the resultset before rows with a value (should be the result of the query).

If you want to be 100% sure, that nothing brakes you could add a config paramete

[2017-08-24 22:01] brianally commented on #59
I couldn't log in this morning to comment but i did try overloading, as sguter90 suggested, and it solved it for me.

I agree that a param for the join is a good idea, and that "LEFT JOIN" would be the best default. However, that could break an app whose package was updated. (Not the majority, though.)

For specific sort columns that require something different, there's always the overload. (Which

[2017-08-24 22:03] brianally commented on #59
@sguter90 One point about your example: the table names are not plural.

[2017-08-26 16:50] psychonetic opened #60 "Issue with parent relations"
First of all: great package!

I found an issue, if the model relates itself. Imagine you have a model Category, which references its parent category.

[code]

If you try to sort by parent.name or anything related to the parent category, it will fail, because both tables have the same name. But it can be fixed easily if one of the related tables would get an alias by default, when executing the joi

[2017-08-26 20:58] Kyslik commented on #60
Any PRs are welcome :) and yes package is still maintained.

[2017-08-27 18:36] Kyslik commented on #60
@psychonetic any progress on creating PR?

[2017-08-28 10:53] Kyslik commented on #60
I guess, best way to do this would be to detect self-referencing relationship and only use aliasing if detection returns true.

[2017-08-28 11:57] psychonetic commented on #60
@Kyslik I wasn't at home during weekend. We open a pull request today :)

[2017-08-28 13:22] Kyslik commented on #60
@psychonetic see https://github.com/Kyslik/column-sortable/tree/fix/self-referencing-relationship

[2017-08-28 13:43] psychonetic commented on #60
@Kyslik Thanks, you are fast :) I will check that out and will edit this answer here.

[2017-08-28 13:51] Kyslik commented on #60
Yea, I pushed it to 5.4 now; not tagged yet; so you can install it using specific hash

[code]

[2017-08-28 13:55] psychonetic commented on #60
@Kyslik Yep, I already did. It's working perfectly! So you can tag it.

[2017-08-28 13:56] #60 closed

[2017-08-28 13:59] Kyslik commented on #60
Done ;), 5.4.6

Thanks for reporting the bug.

[2017-08-30 12:02] psychonetic opened #62 "Support for laravel 5.5.*"
Is there any stable branch for laravel 5.5?

It seems like there is only a dev branch for laravel 5.5. If there is none, when is the release?

[2017-08-30 15:18] Kyslik commented on #62
Today / tomorrow I will release 5.5.0 tag.

[2017-08-31 11:55] Kyslik commented on #62
5.5.0 is now released, should work with auto-discovery :)

[2017-08-31 11:56] psychonetic commented on #62
@Kyslik Sweet, I will check that out :)

[2017-08-31 11:58] #62 closed

[2017-08-31 12:29] Kyslik commented on #59
Since this might be BC, and package does not follow semantic versioning (and follows Laravels) I can not make any BCs; therefore package for L5.5 will default to `leftJoin` and anything before will default to `innerJoin`.

[2017-08-31 13:03] #59 closed

[2017-08-31 17:36] gmask opened #65 "Cannot install on Laravel 5.5"
[code]

[2017-08-31 17:37] gmask commented on #65
Ah, I see now there is a separate 5.5 tag and that the readme has not been updated. I will install that instead.

[2017-08-31 17:37] #65 closed

[2017-08-31 19:51] Kyslik commented on #65
Yea, this package uses same tagging as Laravel, so when you want to install this for Laravel 5.4 use version of column-sortable `5.4.*`; in your case for Laravel 5.5 use column-sortable `5.5.*`.

I will update readme since main branch is 5.5 but readme still states 5.4.*; thanks for informing me.

[2017-10-04 18:45] SirLamer opened #67 "On-model 'sortable' assets should be protected type"
To promote best-design practices, the '$sortable' class property and any other properties related to this package ought to be added to the Model class as a "protected" property, not "public". Getter methods should be provided for external resources to access those properties as required.

As it is I think that the Sortable properties can be included as "protected" and it won't break the functional

[2017-10-04 19:21] Kyslik commented on #67
Before some time package used `protected` visibility 8c4ac0865000618e61cd280d17cc4a7b3310c5b6, but it needed to change in order to enable relational sorting.

Any thoughts?

[2017-10-04 19:52] SirLamer commented on #67
Yeah public getters to provide access to protected assets is best-practice for various reasons. As one example, it allows the 'user' (a project developer) to hook in to the get action with some custom code, even something like a debug dump.

It would be even better if $sortable were declared as 'static protected' since then it can be accessed statically, noting that accessing non-static properties

[2017-10-04 20:55] Kyslik commented on #67
I have figured out why I changed recommendation from `protected` to `public` and yes at current package state I can confirm that `public` visibility is needed (to reduce database lookups).

Anyway, it seems that using `protected` visibility on `$sortable` and `$sortableAs` arrays is a good suggestion whilst using getters.

I don't think its a BC since the change will only change `$model->sortable`

[2017-10-04 21:02] SirLamer commented on #67
Oh yes you are right, if they defined their model with public then the package changing the lookup method won't matter. And as you have inferred, using a get method provides an opportunity to perform a "did I do this already" check.

[2017-10-04 21:05] SirLamer commented on #67
By the way, this is one hacky method I sometimes use to perform a database query and buffer it on the first call if not done already. This depends on the built-in "getXxxAtribute()" magic method feature that Laravel provides. If I am smart, in a context where I am going to use this count I use "load" to load this query as well as all of the other desired count queries in one move.

[code]

[2017-10-04 21:10] Kyslik commented on #67
@SirLamer I kind of do not understand the relevance of https://github.com/Kyslik/column-sortable/issues/67#issuecomment-334289339.

[2017-10-04 21:42] SirLamer commented on #67
It's distantly related, it's just an example of a trick for running an SQL query once on first use of a method and then caching the result on future uses. This code is not from your sortable package, and you can ignore it if you want.

[2017-10-04 21:44] Kyslik commented on #67
I do this https://laracasts.com/discuss/channels/guides/never-execute-a-duplicate-query-again

[2017-10-04 23:14] SirLamer opened #68 "Possible to support polymorphic relationship?"
I am considering addressing this in a PR. If so would it be accepted, or maybe you'd rather do it yourself?

[2017-10-04 23:56] SirLamer opened #69 "Possible to support nested relationships?"
Hey,

Separate subject, so separate issue ticket from the other to discuss this.

I think there is a potential for patterning the query join to allow for sorting by nested relationship. If I took a shot at a PR for this, would you consider it?

So, for example, sort by "address.city.country.name"

I may or may not get to it and I can't promise success, but I am interested in your appetite for this

[2017-10-05 09:11] Kyslik commented on #68
You are welcome to do it :) please also include tests.

[2017-10-05 09:12] Kyslik commented on #69
You are welcome to add support for this.

[2017-10-23 07:04] Kyslik commented on #69
Anything new on this? :)

[2017-11-01 08:06] buchin commented on #48
@ampzilla it's a good idea unless scout returns thousands of rows.

[2017-11-12 19:04] emilas44 opened #72 "There is no Demo page"
This more a wish than a problem....so if you have time to make a demo page it would be great.

Just make a response and if you don't have time i'll just delete this post.

Thank you.

[2017-11-13 08:34] Kyslik commented on #72
There is a demo repo instead.

https://github.com/Kyslik/column-sortable-example

[2017-11-13 08:40] emilas44 commented on #72
Yes that was what i needed... I have missed it somehow on the front page. Thank you.

[2017-11-13 08:40] #72 closed

[2017-11-13 08:40] Kyslik commented on #72
No problem, have fun :)

[2017-11-23 15:14] cusdyn commented on #41
This is an awesome enhancement! Thank you for this great package AND this example on how to sort a joined column!

[2017-11-25 20:44] #69 closed

[2017-11-25 20:44] #68 closed

[2017-11-25 21:12] #58 closed

[2017-11-29 08:59] JurjenRoels opened #75 "Use of each()"
Hello,

I get the following error.

ErrorException (E_DEPRECATED)
The each() function is deprecated. This message will be suppressed on further calls

on vendor/kyslik/column-sortable/src/ColumnSortable/Sortable.php

starting line 180
        reset($sort);
        $each = each($sort);

        return ($each[0] === 0) ? ['sort' => $each[1], 'order' => $configDefaultOrder] : [
            'sort'  =>

[2017-11-29 10:50] Kyslik commented on #75
YES, I was meaning to remove it will work on it today, are you on L5.5?

[2017-11-29 11:06] JurjenRoels commented on #75
Kyslik,

I am on 5.5 and changed the code on line 79 and onwards with:

foreach($sort as $each);
        {
            return ($each[0] === 0) ? [‘sort’ => $each[1], ‘order’ => $configDefaultOrder] : [
                ‘sort’  => $each[0],
                ‘order’ => $each[1],
            ];
        }

Not completely sure if that is what you want it to be. But it works again.

[2017-11-29 12:00] Kyslik commented on #75
No worries I know where the issue is :) will push new version today.

[2017-11-29 12:07] Kyslik commented on #75
@JurjenRoels please try with

`dev-L5.5-fix-75`

**composer.json**

[code]

[2017-11-29 12:15] #75 closed

[2017-11-29 12:41] Kyslik commented on #75
Fixed and tagged at `5.5.4`, `5.4.10`, `5.3.9`, `5.2.9`, `5.1.13`.

[2017-11-29 14:23] JurjenRoels commented on #75
Thank you!

It works again :)

[2017-12-19 20:13] veganista opened #77 "Sorting by multiple fields"
Is there currently anyway of sorting my multiple fields

in SQL we'd have:

[code]
I've tried

[code]

But it doesn't seem to work.

Any other ideas? Is it worth working on a PR?

[2017-12-20 11:09] veganista commented on #77
Yes i agree, the UI would be difficult to implement.

I wanted to do this on the initial sort only, so my idea would be that you could initially sort by by multiple values but after that the normal sorting would take over.

The UI could be left up to the end developer but this package could potentially support it.

Splitting the package isn't a bad idea, having more specific dependencies seem like

[2018-01-03 18:13] veganista commented on #77
It turns out you can do this without needing to modify this package.

It's very specific to my project but i've used something like this:

[code]

[2018-01-16 00:02] Jarvvski opened #78 "Appendable attributes"
What's the best way to deal with appendable attributes in models? So essentially, computed properties that aren't stored natively in the database.

I'm guesing there isn't an easy work around for this

[2018-01-16 09:16] Kyslik commented on #78
When you use `$model->sortable()`... you are using a [local scope](https://laravel.com/docs/5.5/eloquent#local-scopes). So if you find out how to do it with your grown scope let me know.

Could you also post an example / link so I know whats append-able attribute about?

[2018-01-16 11:38] Jarvvski commented on #78
Sure.

So Let's assume I have a `character` model which has a `starting_xp` value. This `character` can have multiple `record` entries, which each have an `xp` value.

To calculate the `character` experience, we do a sum of all their `record` `experience` values, and add that to the `character` default `experience`.

It's never stored in a database, because it's always dynamic.

Here's the code sn

[2018-01-16 11:44] Jarvvski commented on #78
Thank you though otherwise, for a really good package. For stored values, it works perfectly

[2018-01-16 11:45] Kyslik commented on #78
Oh yea it makes sense, so you are using [accessor](https://laravel.com/docs/5.5/eloquent-mutators#accessors-and-mutators) to calculate the `experience`.

I think you may invest some time in taking a look at [overriding sortable](https://github.com/Kyslik/column-sortable#columnsortable-overriding-advanced), so you write your own logic of sorting and `$direction` is provided for you.

[2018-01-16 15:27] Jarvvski commented on #78
Ok then, thanks @Kyslik.

I'll check those out, and see what turns up.

If I create a solution, I'll post it back here for others to use later

[2018-01-29 08:41] Kyslik commented on #78
@Jarvvski any success? :crossed_fingers:

[2018-02-01 20:43] Jarvvski commented on #78
No, not yet sadly @Kyslik

I'm currently in the states, so I don't have much time to work on it. Need to iron out a search implimentation first

[2018-02-05 00:02] vaughany opened #80 "Add page number to @sortablelink()"
Hi there.  Thanks for this excellent plugin.  I have an idea / feature request.

When using your plugin, Laravel's pagination links generate a URL as follows (using page 5 as an example):

`?sort=name&order=asc&page=5`

...but the page number is not honoured by the links generated by `@sortablelink()`:

`?sort=name&order=desc`

...so whenever you are on a page other than page one, and click on a l

[2018-02-05 10:14] Kyslik commented on #80
This is intentional, think about it a little,

Lets say you are sorting by column `id` and you are on page 5. Now you decide to sort by `first_name`, you click on the link: new sql query is generated and **data-set is changed** (not really, only order has changed) so any pagination applied on previous SQL (sorting by `id`) will not make sense on the new SQL query (sorting by `first_name`).

See: #

[2018-02-05 10:53] vaughany commented on #80
Hi @Kyslik. Apologies for not spotting those other related issues.

I'm aware that it doesn't make the most sense, however I think it makes *some* sense: I have had cause to go to (for example) page 5 of 10, roughly half way through all the data, and change the sort criteria from e.g. `id` to `name`, and I would still expect the on-screen data to be about half way through the names.

Perhaps what

[2018-02-05 11:46] Kyslik commented on #80
It very well may be _consistent_ while end-user is being _lied_ to - data set is changed! Multiple records may show up that have been shown before - confusing.

It mostly falls down to:
- user does assume he/she gets to half way (as you do) and
  - **does** understand that results from previous sorting may show up
  - **does not** understand that results from previous sorting may show up
- user do

[2018-02-08 01:48] gofish543 opened #81 "Laravel 5.6"
Please add Laravel 5.6 Support?

[2018-02-09 04:10] Kyslik commented on #81
Will do :) I am not capable as of now, but in 2-3 days I will be.

[2018-02-10 04:21] neflictus commented on #81
+1

[2018-02-12 06:46] Kyslik commented on #81
@gofish543 @neflictus

It is done :) now y'all can use [`5.6.*`](https://github.com/Kyslik/column-sortable/releases/tag/5.6.0) tag.

[2018-02-12 06:46] #81 closed

[2018-02-13 21:04] Jaace opened #84 "Possible to use with search?"
I'm wondering how one would go about using this column sort along with query parameters for a search?

[2018-02-13 23:57] #84 closed

[2018-02-28 07:25] wasxxm opened #86 "Sortable does not work across related models using different databases"
Change columnExists method in Sortable.php from:

[code]
to the following to fix this issue.
[code]

[2018-02-28 08:18] Kyslik commented on #86
Never needed to work with multiple connections, thanks for the report + possible fix, will incorporate in future release

[2018-02-28 15:08] str opened #87 "Not compatible with latest version of FontAwesome"

[2018-02-28 15:24] str commented on #87
NM, got it.

[2018-02-28 15:24] #87 closed

[2018-03-08 15:37] #86 closed

[2018-03-08 15:44] #80 closed

[2018-03-17 16:01] timopaul opened #88 "@sortablelink's URL-Building with query parameters"
First, many thanks for this awesome package!

now I have wondered about the automatic creation of links. I am on a page with the URL parameter `var=foo`, when calling the `@sortablelink` I pass a URL parameter `var=bar`:

`@sortablelink('name', __('head.name'), ['var' => 'bar'])`

Each created link still has the parameter `var=foo`. In my search I noticed the following line (230):

https://github.

[2018-03-18 09:52] Kyslik commented on #88
Its long time ago when I wrote that line, could you elaborate more? Real-life example + expected + current behavior?

From first look at this you may very well be on to something!

Thank you for raising it.

[2018-03-18 10:38] timopaul commented on #88
My "quick fix" was a separate ServiceProvider that inherited from the original and a separate SortableLink-class to override the buildQueryString-method. In the SortableLink class all methods had to be copied because the visibility is private and not protected. Maybe a point that can be adjusted?

The selectIcon($sortColumn) method has also been modified. I use sortable tables with dynamic columns

[2018-04-10 15:09] mgilberties commented on #69
@SirLamer this is exactly what I need to do now. Did you make any progress on this?

[2018-05-16 22:41] #77 closed

[2018-06-05 16:25] kyleweishaupt opened #90 "camelCased model relationship methods fail"
I'm having a small issue where the query order builder is attempting to check for a method in snake case when my model's relationships are defined in camel case. I'm new to Laravel but I believe that's the standard naming convention.

If I define a relationship using like `clientType()`, I get exception code 2 saying that 'client_type' is not a hasOne/belongsTo relation. Changing the method to `cl

[2018-06-06 07:35] Kyslik commented on #90
I will take a look at this, thank you for the issue :), very detailed!

[2018-06-09 09:14] Kyslik commented on #90
@kyleweishaupt I can not reproduce. Please see this diff where I changed the relationship to camelCase and it works as expected:

https://github.com/Kyslik/column-sortable-example/commit/3eecd7e160bfb42596f99b05b57f18cf666b5a74

[2018-06-11 14:54] Kyslik commented on #88
@timopaul is this solved?

[2018-06-11 14:56] #78 closed

[2018-06-12 10:11] #88 closed

[2018-06-12 10:12] #67 closed

[2018-06-12 10:13] Kyslik commented on #90
@kyleweishaupt reopen if you want to discuss more.

[2018-06-12 19:15] kyleweishaupt commented on #90
@Kyslik Thanks for taking a look into this, but to clarify, I had to use snake-casing for the input. `client_type.name` as opposed to `clientType.name`. (I'm trying to override the other plugin I'm using in order to provide camel case input to column-sortable)

[2018-06-12 19:20] Kyslik commented on #90
I see now, I will do some more testing on this later this week, for now just use the solution you have :)

[2018-06-25 15:09] Raswin opened #91 "hasOne with latest()"
There is a problem with sorting by hasOne.
If I use hasOne with latest() ( since I need to get the last entry. ) i get duplicate rows.
Is there any way to bypass it ?

[2018-06-25 21:47] Kyslik commented on #91
If you are getting "last" (implying only one) entry why would you sort it?

Can you share your code, thanks.

[2018-06-26 07:31] Raswin commented on #91
I have a User model.
[code]
And there is a model of Payment ( which contains user payments );

[code]
I need to sort users by the date of the last payment.

[2018-06-26 07:46] Kyslik commented on #91
The relation definition is wrong, since you have `one to one` relation there is no point having "latest" its always one record that is related to the "parent" model.

If you want to use *latest* use your own scope for that but I don't really understand the use you are trying to get - please see my example here https://github.com/Kyslik/column-sortable-example/tree/L5.6/app (especially models).

So

[2018-06-26 08:10] Raswin commented on #91
I actually do not hasOne relation but hasMany.
It's just that I need to get the last payment of the user in this order for this I use hasOne (since there can be a lot of them).
Accordingly, after, sort users by the date of the last payment.
Relation and the Sortable function works, I just get the duplicate of the user on the output in the number of how many payments he has.
Spaces accidentally tur

[2018-06-26 08:33] Kyslik commented on #91
So the hasOne relation is "fake" for easier manipulation, alright I get that, but I am afraid that this package is not good for this kind of relationships it relies on type of relation see https://github.com/Kyslik/column-sortable/blob/L5.5-6/src/ColumnSortable/Sortable.php#L157-L169 and the relation is returning Query Builder (because of the `latest()`). Without any more knowledge or testing on y

[2018-06-26 08:39] Kyslik commented on #91
I do not even think its possible to do, if I get this right you have user 1:M payment relation and faking it to be 1:1, and in the end you want to display all users with "latest" payments and order those as well. Maybe you want custom query! Try figuring this out in SQL and I might help you out with using this package.

[2018-06-27 11:51] msdavid1296 commented on #8
Hi,
In my case when I sort and click the pagination button first time the sorting is not working.Next time it works fine.

[2018-06-27 11:54] msdavid1296 opened #92 "Sorting not working when it is paginated"
Hi,
The case with me is I have sorted the column and when I click the pagination for the first time the sorting is gone away.

[2018-06-27 13:03] Kyslik commented on #8
@msdavid1296 please open new issue and show all relevant code (relationship definition, controller, and maybe blade template if you are using `@sortable` directive.

[2018-06-27 13:05] Kyslik commented on #92
Please post all relevant code relationship definitions, controller, and maybe blade template if you are using `@sortable` directive.

[2018-06-27 21:44] sjrahimian opened #93 "Font Awesome 5 compatibility"
Been using the latest CDN from Font-Awesom (v5.1) in my project, and while the icons appear as intended when the results page first loads, as soon as I click the column header to sort the table the icons disappear. I found a workaround by using the CDN you give in your example, which works just well:
`<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.

[2018-06-28 08:12] Kyslik commented on #93
So you want to use FA5?

Publish configuration using on Laravel 5.6+ you will get wizard which provider you want to publish or just follow [instructions from readme](https://github.com/Kyslik/column-sortable#publish-configuration):

[code]

And you can see how icon classes are named:

- https://github.com/Kyslik/column-sortable/blob/L5.5-6/src/config/columnsortable.php#L8-L21
- https://github.com/

[2018-06-29 03:34] msdavid1296 commented on #92
Hi the plugin in amazing. I found the issue it was with my code.Thanks.

[2018-06-29 03:34] #92 closed

[2018-06-29 14:40] sjrahimian commented on #93
Hi Kyslik,

Apologies for not responding yesterday. I was busy running errands and didn't even turn on my computer.

I did publish the configuration before opening the issue and I tried replacing "fa fa-sort" as well as adding my table headers to the array list. That didn't work.

I wonder how I missed it/didn't think of it before opening the issue 😞. FA 5 uses -down/-up at the end of the icon nam

[2018-06-29 15:09] Kyslik commented on #93
I welcome any PR! :)

A good guide for detailed how-to https://www.youtube.com/watch?v=FQsBmnZvBdc

But since you do not do much of code-change:

1. make a fork
1. make a branch in your fork like fix-93
1. open up web-gui editor that GitHub provides and edit readme.md
1. commit via web-gui
1. go yo your fork main page and you will see something "this branch is ahead of" and click on it
1. pick bas

[2018-06-30 10:33] #93 closed

[2018-07-02 12:56] #91 closed

[2018-07-05 21:50] grzegorzkamil opened #95 "Sort by column from pivot table"
I have three tables:
1. **files**
2. **parameters**
3. **file_parameter** (pivot table) with columns: file_id, parameter_id, value.

It is possible to sort by **value** column from pivot table?

[2018-07-06 06:48] Kyslik commented on #95
If you can write yourself a query you can use https://github.com/Kyslik/column-sortable#columnsortable-overriding-advanced. Package supports [hasOne and belongsTo](https://github.com/Kyslik/column-sortable#hasone--belongsto-relation-sorting) relation out of the box all other relations you have to manage yourself.

[2018-07-08 10:39] #95 closed

[2018-07-11 05:45] styloxstar opened #96 "functionality doesn't work"
after applying and configuring all the steps, all i am getting arrows at my columns, though after clicking column, it changes in url but not in table data.

![image](https://user-images.githubusercontent.com/38098415/42552785-9e279864-84fb-11e8-8b57-d78f30e49bda.png)

[2018-07-12 10:59] #96 closed

[2018-07-15 19:05] Kyslik commented on #90
@kyleweishaupt I can not wrap my head around this one, If I declare my relationships camelCased package wants camelCased input, same goes for snake_cased relationship.

Whatever the name of relation is, package expects to be in input the *name* of the relationship, otherwise it will fail.

[2018-07-15 19:05] #90 closed

[2018-07-16 10:53] Kyslik commented on #96
Please read the [documentation first here](https://github.com/Kyslik/column-sortable#blade-extension), it shows possible examples:

[code]

The first parameter is column name in your example it should be `@sortablelink('name')`....

[2018-07-18 10:30] bebopstudio opened #97 "Sorting relations model"
Hello @Kyslik ,

I'm using your column sorting package for a few days and it's great, but today I have encountered a problem. I will explain my situation:

I've 3 models (**users_detail, users and company**) and they are related as follows:

**users_detail**--------**users**-------**company**

In **users_detail** i've a view with a table where shows some **users_detail** fields , some **users** fi

[2018-07-18 11:33] Kyslik commented on #97
Hey @bebopstudio I am glad it works somewhat for you :), I will try to test this scenario out and I will get back to you.

Meanwhile can you share users model? As well as definition of all relations? Also do you have `$sortable` property in company?

[2018-07-18 14:35] Kyslik commented on #97
This package can sort only two relations `belongsTo` and `hasOne`. I prepared example branch for you you can see diff here https://github.com/Kyslik/column-sortable-example/commit/c0958e1d6c291db6f2980c6ef720c3078796ea9e or branch itself https://github.com/Kyslik/column-sortable-example/tree/example-multiple-relations-at-once

Take a close look at models, and [UserController.php](https://github.co

[2018-07-18 14:45] kyleweishaupt commented on #90
That's alright - I'm working out an issue with the table plugin that's causing me to have a difference in the sorting key and the key for the relationship.

Thanks for looking into this! 👍

[2018-07-19 16:21] laravel1112 commented on #77
I have the same problem with @veganista , only want to use multi-sort on initial-loading.
It would be nice if the package supports multi-sort in this way " ->sortable( ['users_24h' => 'desc', 'created_at' => 'asc'] ) "

[2018-07-20 00:54] laravel1112 opened #98 "Issue same as #77"
I have the same problem with @veganista , only want to use multi-sort on initial-loading.
It would be nice if the package supports multi-sort in this way " ->sortable( ['users_24h' => 'desc', 'created_at' => 'asc'] ) "

[2018-07-20 07:09] Kyslik commented on #98
I have no time for **creating** new features for now, but feel free to PR, I will gladly review and merge.

[2018-07-24 16:24] #97 closed, assigned to nobody

[2018-07-31 00:06] erichowey commented on #48
I was able to work around this issue with Eloquent::when(). Most likely a slight insecure work around, but this worked nicely in my case:

``
$sort = $request->input('sort');
$order = $request->input('order');

Eloquent::search('foo')
   ->when($sort, function ($query) use ($sort, $order) {
        return $query->orderBy($sort, $order);
    }
    ->get()

[2018-07-31 00:15] erichowey opened #99 "Allow rendering of html in the Title parameter of the blade extension"
Hello,

I'm using materialize icons and I would like to use an icon as my sortable icon in my view. However, since the title is rendered using the `htmlentities()` function, this is impossible.

example: `<i class="material-icons">cloud_upload</i>`

I was able to work around this issue by removing the `htmlentities()` function in the following line:

https://github.com/Kyslik/column-sortable/blob/

[2018-07-31 07:48] Kyslik commented on #99
Hmm, what about changing [configuration file](https://github.com/Kyslik/column-sortable/blob/L5.5-6/src/config/columnsortable.php#L8-L57) and setting the sort classes?

[2018-07-31 15:16] erichowey commented on #99
Unfortunately that didn't work. No matter what I do, the title is ran through `htmlentities()` which breaks the html that I put into the title.

[2018-07-31 15:28] Kyslik commented on #99
Can you post example of your usage?

I think you will break the directive with using HTML in it. Try other approaches if possible.

[2018-07-31 15:34] erichowey commented on #99
Sure, my blade code is:
[code]

Then my config is:
[code]
I've tried a bunch of different configs and workarounds. I just can't get it to work as the `htmlentities()` function converts all of my html into... entities.

[2018-07-31 17:27] Kyslik commented on #99
Can you point a link to which materialize icons you are using?

[2018-07-31 17:39] erichowey commented on #99
Here you go. Thank You!

https://materializecss.com/icons.html

[2018-08-01 22:53] Kyslik commented on #99
I've taken a look and this would definitely need rework regarding how icons are used, currently I can not help you out and I will not remove `htmlentities()` from the code, however you may extend the package and use your own version of SortableLink.

Open up AppServiceProvider.php and add your own `sortablelink` directive

[code]

As you can see I already changed name of function that `sortablelin

[2018-08-08 08:50] #99 closed

[2018-08-12 12:24] rameshguthulakkd opened #100 "This package is not working"
I used this package three months back on laravel 5.5 version. It saved my day. But recently I am unable to sort the model using this package. So I tried your other package "column-sortable-example". I cloned the entire repo, installed and tried it. It's the same case again It is unable to sort the users in your Kyslik/column-sortable-exaple package also. Is there any issue or is it not working onl

[2018-08-12 17:42] Kyslik commented on #100
Hmm interesting, what version of Laravel and package?

[2018-08-13 15:11] rameshguthulakkd commented on #100
My Project runs on Laravel 5.5.
A small correction in my previous comment. I found that it's woking perfectly on my same project with laravel/homestead. But it does not work with my own dev environment (Laravel 5.5, php7.2, nginx)

[2018-08-14 10:58] Kyslik commented on #100
Do you have any other packages installed?

[2018-08-14 15:03] rameshguthulakkd commented on #100
I am pasting my project's composer.json file. I would like to remind, that sorting is working fine my project on "laravel/homestead" environment, but not on my own ubuntu 18.04, and php 7.2.

Composer.json
----------------------------------------------
-----------------------------------------------
{
    "name": "laravel/laravel",
    "description": "The Laravel Framework.",
    "keywords": [

[2018-08-15 11:12] rameshguthulakkd commented on #100
Today I prepared another dev environment for my project and I tried this package and it's working fine. So I can confirm that this package is working both in laravel/homestead environment and other ubuntu  environment also. Now I need to identify why it's not working in my system. Anyway thanks for your quick response and also your package, which saves a lot of my time. I am closing this issue.

[2018-08-15 11:12] #100 closed

[2018-09-04 15:08] divdax opened #103 "Laravel 5.7 Released"
See subject 😄

[2018-09-04 15:50] Kyslik commented on #103
Checkout https://github.com/Kyslik/column-sortable/releases/tag/5.7.0

[2018-09-04 18:11] #103 closed

[2018-11-29 22:23] aFluxx opened #104 "Is it possible to use Font Awesome 5 icons as "string"?"
Hello there,

I'm trying to do something like:
`<th>@sortablelink('gender', '<i class="center-icon fas fa-transgender">')</th>`

I want a font awesome Icon to display in my table head, and no text, is that possible?

[2018-11-30 08:03] Kyslik commented on #104
The only support for FA 5 is documented here https://github.com/Kyslik/column-sortable#font-awesome-5

---

Any PRs are welcome :)

[2018-11-30 08:04] aFluxx commented on #104
Alright, thanks!

[2018-11-30 16:52] #104 closed

[2018-12-04 16:49] marwan2 opened #105 "For FTP publiseh, what should I upload, because parse @sortable not working"
@sortablelink('first_name','Name') displayed on the browser,
I uploaded all package files & composer autoload.
Please advice

[2018-12-05 16:17] Kyslik commented on #105
Hey @marwan2 did you follow the installation [steps](https://github.com/Kyslik/column-sortable#setup)?

What Laravel version do you use?

[2018-12-07 13:55] #105 closed

[2018-12-20 10:40] vipertecpro opened #106 "Searching and sorting Columns"
Good Evening Dev,
I implemented your package into my project, everything is working great so far.

Issue: I need to implement sorting after searching data,
This is my searching URL
http://localhost/test.com/customer/search?keyword=hello
After searching into the table, sorting columns is **not working** (means no action on click on the column ) based on this URL
http://localhost/test.com/customer/s

[2018-12-20 12:05] Kyslik commented on #106
Hey @vipertecpro, you need to share controller, where you apply the search.

[2018-12-20 12:58] vipertecpro commented on #106
`
  // Route > web.php
    Route::get('customer/search/{keyword?}',"Customers@doSearch")->name('customer.search');`

[code]

[2018-12-20 13:11] vipertecpro commented on #106
Okay, I wasn't using ->sortable() in my controller returning query. Sorry for bothering it's working now.

[2018-12-20 13:11] #106 closed

[2018-12-20 14:00] Kyslik commented on #106
@vipertecpro see a bit clearer more readable code :);

[code]

Good luck!

[2018-12-21 07:18] vipertecpro commented on #106
Thank you that's what i was looking for :)

[2018-12-28 14:34] krytthew opened #107 "failing eloquent"
hello I have an error when performing the ordering with a relation, it does not work

$this->belongsTo('App\Http\Models\BiHdrModel','V_ORDER_NO','V_ORDER_NO');

select count(*) as aggregate from `ord_header` inner join `bi_hdr` on `ord_header`.`V_ORDER_NO` = `bi_hdr`.`id`

[2018-12-28 16:40] Kyslik commented on #107
Please do share more than just one line; share both models and a controller (or at least the method in which you are using the `sortable()` scope).

[2019-01-02 20:24] epixian opened #108 "Method Illuminate\Database\Eloquent\Collection::sortable does not exist."
Likely related to closed issue #46 --> Eloquent doesn't seem to recognize Sortable as a trait.  I'm not new to PHP, but I am somewhat of a novice at Laravel and Composer so I'm guessing my issue is configuration related.  My repo is [here](https://github.com/epixian/snowpatch).

Using Laravel 5.7.19.  Composer found the library with no issues, pulled in version 5.7.0 of this library and performed

[2019-01-03 10:40] Kyslik commented on #108
Hey @epixian! What a nice and detailed bug report. I think this is a composer issue; please do try:

- `composer dump-autoload`
   - if this solves the problem, you have a typo; or between the package versions I changed the namespace
- remove `./vendor/kyslik` (`rm -rf`) and run `composer update`

[2019-01-03 10:46] #107 closed

[2019-01-03 13:57] epixian commented on #108
@Kyslik quick reply!  It looks like I tossed you a red herring, but you were able to figure it out.  Thank you so much, it works now!

[2019-01-03 13:57] #108 closed

[2019-01-03 20:31] alighasemzadeh opened #109 "Change sort of link icon in @sortablelink"
Hello,
I want to change sort of `<a>link</a><i class="fa"></a>` to `<i class="fa"></i><a>link</a>`
how can I do this job?

[2019-01-03 20:38] Kyslik commented on #109
Hey @alighasemzadeh, this is not possible; however I think you may find [these lines of config](https://github.com/Kyslik/column-sortable/blob/master/src/config/columnsortable.php#L38-L47) useful.

---

Do share your use case.

[2019-01-04 04:08] alighasemzadeh commented on #109
Hello,
I want to use in RTL mode.
I add pull-right before config class and it solved my issue.

[2019-01-04 09:46] #109 closed

[2019-01-08 10:33] ArmanKoke commented on #21
My model is moved to folder

and sortable don't work namespaces are correct and did dumpautoload, as there any way sortable can work with such models arrangement?

[2019-01-10 08:45] MichaelHoughton opened #110 "Not unique table/alias Error"
I am trying to filter by a belongsTo column, but I am getting the following error when doing so:

[code]

The instance does exist.  I investigated the issue further, and found that the problem is with the SQL that gets generated:

[code]

It appears that the left join for funds is getting mentioned twice in the SQL - which is causing the issue.

[2019-01-10 10:49] Kyslik commented on #110
@MichaelHoughton, can you show the code of the controller?

[2019-01-10 11:47] MichaelHoughton commented on #110
Hey @Kyslik - thanks for your fast response.

Sure thing, here is the code:

[code]

In the model file Query.php, I have:

[code]

The URL then is:
/queries?sort=fund.name&direction=asc

In Fund.php, I also have:

[code]

[2019-01-10 12:14] Kyslik commented on #110
@MichaelHoughton  the code really stops [here](https://github.com/Kyslik/column-sortable/blob/L5.5-7/src/ColumnSortable/Sortable.php#L94) could you investigate on your own, I mean open up that file in your /vendor and add some `dd()` statements the most useful would be to `dd($e)` and report back here whats the stack trace.

---

A side question what Laravel version do you use?

[2019-01-10 12:36] MichaelHoughton commented on #110
Hey @Kyslik - using the latest version of Laravel (5.7.20)

Here is the stack trace:

[code]

Downgrading to an older version of Laravel didn't seem to make a difference.

Thanks again for your help with this.  Is there a test I could run which should work with a belongsTo relation?  I could see if I could reproduce this in a test.

[2019-01-10 12:53] Kyslik commented on #110
@MichaelHoughton this sure is weird, please do try:

- [*manual* aliasing](https://github.com/Kyslik/column-sortable#aliasing)
- double-check the proper relation use [see example repo](https://github.com/Kyslik/column-sortable-example/blob/L5.7/app/UserDetail.php)

There seems to be a [test for this](https://github.com/Kyslik/column-sortable/blob/L5.5-7/tests/ColumnSortableTraitTest.php#L130) but

[2019-01-11 19:23] datomnurdin commented on #46
any update for this?

[2019-01-11 19:37] datomnurdin opened #111 "Method Illuminate\Database\Query\Builder::sortable does not exist."
I'm trying to populate the data and try to sort out. But it seems I got this error message.

[code]

It happened when I updated it here

[code]

Please advice. TQ.

[2019-01-12 09:42] Kyslik commented on #111
Hey, @datomnurdin. The package works only with models (eloquent models) not with database query builder.

Basically you want to read more on the [models topic](https://laravel.com/docs/5.7/eloquent#defining-models) and understand the difference between using model and query builder, the gist of what you need is:

[code]

[2019-01-12 09:44] Kyslik commented on #46
@datomnurdin yea you either want to see info on #108 or #111.

[2019-01-14 22:02] MichaelHoughton commented on #110
@Kyslik - I am pleased to report that we can solve this.

I had been running the 5.5 version of column-sortable on my Laravel 5.7 installation.

Upgrading to version 5.7 solved this issue.

Hopefully this can help someone else at some point in the future if reviewing this issue.

Thanks for your help @Kyslik - you pointed me in the right direction!

[2019-01-14 22:02] #110 closed

[2019-01-15 03:45] datomnurdin commented on #111
Thanks. It works.

[2019-01-15 03:45] #111 closed

[2019-01-15 14:23] Kyslik commented on #110
@MichaelHoughton excellent :), happy coding!

[2019-02-16 23:27] marwan2 commented on #105
Nevermind it works now

[2019-02-26 18:51] aFluxx opened #113 "Problem when trying to update laravel to 5.8"
Hello,

I have the following output when I try to use `composer update` to update to laravel 5.8

[code]

Any idea what I can do to update laravel without removing this package?

[2019-02-26 21:42] HDVinnie commented on #113
Same issue here... @Kyslik needs you update composer.json

[code]

to

[code]

[2019-02-26 22:07] Kyslik commented on #113
Hey guys @HDVinnie & @aFluxx, try using `dev-master` for now as version. I need to check upgrade guide but it should work. When I release 5.8 I will ping you here.

[2019-02-26 22:07] aFluxx commented on #113
Great, thanks for the quick heads up!

[2019-02-26 22:13] Kyslik commented on #113
Alright there seems to be a bug when using https://github.com/Kyslik/column-sortable#hasone--belongsto-relation-sorting I will have to adapt the package to that and dig through...

[2019-02-26 22:22] Kyslik commented on #113
Alright found the culprit...

Will take care of it soon (1-2 days).

[2019-02-28 14:16] #113 closed

[2019-03-06 11:35] xxxdannybyrdxxx opened #114 "Observers don't work when we use sortable()"
Little example. Lets add this code in our AppServiceProvider.php  (app->Providers->AppServiceProvider)
[code]

If we try to get Products: **\App\Product::get()** we will see result of query.
But if we use **sortable()** method: **\App\Product::sortable()->get()** we will never see the result of query.
How can we fix this?

[2019-03-06 21:05] Kyslik commented on #114
I am unable to replicate this; do see https://github.com/Kyslik/column-sortable-example/commit/642417e2a4b6865b64b0d5faeacf0ec913d7731a and it `dd()` for me.

[2019-03-07 20:10] maurosbu commented on #49
Hi, I'm on Laravel 5.5 and I have an issue.
I'm using withCount on a hasManyThrough association. Sorting by _count fields or attributes of the model defining the association is fine, but when sorting by attributes of other associated models then _count attributes are not set anymore.

[2019-03-08 10:21] Kyslik commented on #49
Hey @maurosbu I do not think I can help you out (no time); only if you can reproduce this on L5.8. I will try to solve it & port the solution to the all versions of this package.

[2019-03-11 07:24] Kyslik commented on #114
Closing because of inactivity; feel free to re-open.

[2019-03-11 07:24] #114 closed

[2019-03-15 11:35] bessone opened #115 "Wrong relationship method"
Hello,

i have an exception sorting my table with a relationship:
`Kyslik\ColumnSortable\Exceptions\ColumnSortableException thrown with message "Relation 'group' does not exist."

Stacktrace:
#66 Kyslik\ColumnSortable\Exceptions\ColumnSortableException in /var/www/html/vendor/kyslik/column-sortable/src/ColumnSortable/Sortable.php:92`

I could not understand the problem, models and controllers seem

[2019-03-15 11:37] Kyslik commented on #115
Do share code of yours; try to see [example repo](https://github.com/Kyslik/column-sortable-example/tree/L5.8/app) where I demonstrate how it should be set up.

What version of Laravel do you use? What version of package do you use?

[2019-03-15 11:39] Kyslik commented on #115
I see this is a no bug but information only. I will add that to the readme - in installation part.

Thank you :)

[2019-03-15 12:03] Kyslik commented on #115
Actually it already is there https://github.com/Kyslik/column-sortable#composer

[2019-03-15 12:03] #115 closed

[2019-03-15 12:10] bessone commented on #115
Ops, sorry my fault! I spent all the morning fighting with this error, I thought it was my problem and not a version conflict.

Thanks for your work!

[2019-03-17 17:43] pryley opened #116 "[FR] @sortablelink relative URLs option"
It would be nice if there was an option for `@sortablelink` to generate relative URLs.

[2019-03-18 18:58] #116 closed

[2019-03-26 18:51] maikovisky commented on #115
Hi,

I using laravel 5.8, and have the same error.  In Sortable line 160 don't exist method **getQualifiedForeignKeyName** , I change for **getQualifiedForeignKey** and works.

My models:

Table: users
id, name, company_id

[code]

Table: companies
id, name
[code]

[2019-03-26 19:13] Kyslik commented on #115
Hmm; try removing vendor directory and running composer install (or update).

Best,
Martin Kiesel

[2019-03-26 19:20] maikovisky commented on #115
I removing vendor directory run composer clean-cache and install. The problem persist

[2019-03-26 19:25] maikovisky commented on #115
Ohh I'm sorry I'm using Laravel 5.7 I update Laravel to 5.8 and works.

[2019-04-01 07:13] pbgswd opened #117 "You cannot use the word 'scope' as a column name."
I had 'scope' as a column name in my table.
I found on line 24 of /src/ColumnSortable/Sortable.php
` public function scopeSortable($query, $defaultParameters = null)`
I got a 503 bad gateway in nginx when hitting that column sort in my browser.
I changed the table column name to access_level with a migration, replaced elsewhere it was applicable, and it worked thereafter.
I did not look into the m

[2019-04-01 08:04] Kyslik commented on #117
I guess its limitation of scopes - https://laravel.com/docs/5.8/eloquent#query-scopes

[2019-04-01 08:05] #117 closed

[2019-04-20 10:42] maurosbu opened #118 "Issue while sorting by a column on belongsTo association accessed through belongsToMany one"
Hi folks,
let's consider the following scenario:

    class Category extends Model {
    };

    class Project extends Model {
        public function category() {
            return $this->belongsTo(Category::class, 'category_id');
        }
    };

    class UserProject extends Model {
    };

    class User extends Model {
	  public function projects() {
          return $this->belongsToMany(Pr

[2019-04-22 12:59] Kyslik commented on #118
I recommend you look at [overriding column-sortable](https://github.com/Kyslik/column-sortable#columnsortable-overriding-advanced). Basically write your own sorting logic, but keep the `@sortablelink` Blade extension working.

[2019-04-23 06:48] maurosbu commented on #118
@Kyslik thanks for your reply.
If sorting by fields of Project works, why then is it looking for category association on UserProject model?

Thanks.

[2019-04-23 07:54] maurosbu commented on #118
@Kyslik sorry, it was my fault.
I was calling sartable also on another association (User  hasMany UserProject).

This issue can be closed.

[2019-04-23 08:11] Kyslik commented on #118
@maurosbu feel free to close this yourself :)

[2019-04-23 08:36] #118 closed

[2019-04-30 15:32] divdax commented on #77
@Kyslik Sorting by multiple columns should be possible. You don't have to show this in frontend.
Basic example: Let's say you want to sort rows by created_at with same timestamps.
On every page load you get a random list. For this type of sort you should order by created_at desc, AND id desc to prevent random sorting.

[2019-04-30 16:05] maurosbu commented on #49
Hey @Kyslik, can you give a look at https://github.com/maurosbu/column-sortable-example/
If you sort by Address you loose counts.

Thanks,
Mauro

[2019-05-04 10:52] Kyslik commented on #77
@divdax If you really need multiple columns to be sorted you can use https://github.com/Kyslik/column-sortable#columnsortable-overriding-advanced and write your own sorting.

[2019-05-15 07:08] maurosbu opened #119 "Custom path / url in @sortablelink"
Is there a way to pass custom path / url to @sortablelink?

Use case: a complex page with a paginated & sortable table, with AJAX sorting / browsing.

Solution for pagination:
https://laravel.com/docs/5.8/pagination#displaying-pagination-results (section **Customizing The Paginator URI**)

Thx.

[2019-05-17 11:30] Kyslik commented on #119
Hey @maurosbu only [this is supported](https://github.com/Kyslik/column-sortable#blade-extension):

[2019-06-05 18:58] andrelfranco opened #120 "in a same column I have fields with different names."
I have a column that shows $item->empresa->razao_social or $item->entregador->nome, is it possible to sort this column?

### below is the code

![image](https://user-images.githubusercontent.com/31287551/58982398-bf965000-87aa-11e9-981b-89e4c28b79cc.png)

[2019-06-12 06:32] Kyslik commented on #120
I think readme is clear; if you have specific code (not a screenshot) and reproducible repository link it here, so maybe someone can take a look.

[2019-06-12 06:32] #120 closed

[2019-06-28 07:51] #119 closed

[2019-07-21 13:27] minatosa opened #123 "Relation 'contact' does not exist."
When sorting the relation table always get error. if sorting with current model it;s fine, everything work.

`ColumnSortableException {#692 ▼
  #message: "Relation 'contact' does not exist."
  #code: 1
  #file: "C:\xampp\htdocs\extraprint\vendor\kyslik\column-sortable\src\ColumnSortable\Sortable.php"
  #line: 92
  -previous: BadMethodCallException {#674 ▶}
  trace: {▶}
}`

[ScreenShoot](https://ww

[2019-07-21 17:42] jbrodie commented on #115
Thanks you, just found this as well on my 5.7 install and was wondering what I was missing.

[2019-07-25 20:30] Kyslik commented on #123
Hmm, can you perhaps share the code instead of screenshots?

What version of Laravel do you use and what version of column-sortable do you use?

[2019-07-26 05:28] minatosa commented on #123
Laravel Framework 5.6.39

`"kyslik/column-sortable": "5.8.*",`

View
`@sortablelink('contact.name', trans('invoice.table.contact_name'))`

Model
`use Kyslik\ColumnSortable\Sortable;`

`use \OwenIt\Auditing\Auditable, Sortable, SoftDeletes;`

`public $sortable = [
        'id', 'inv_no', 'total_order', 'inv_date', 'branch_id', 'po_no', 'priority', 'status_id', 'order_type'
    ];`

`public function

[2019-07-26 19:57] Kyslik commented on #123
You need to use column-sortable 5.6.*.

Best,
Martin Kiesel

[2019-07-28 02:55] minatosa commented on #123
working..... thanks a lot.

[2019-07-28 02:55] #123 closed

[2019-08-10 11:06] UserCosti commented on #8
does this package works with belongsToMany relationship??

[2019-08-12 01:12] Kyslik commented on #8
@UserCosti can you try implementing it yourself?

[2019-08-17 12:19] keita1p opened #124 "sort null last"
Bring `null` to the last page. I tried the `filter` method, but it disappears and I can't use it. Is it considered to bring `null` at the end with this library?
`<a href="{{ route('number.name', [ 'sort' => 'number IS NULL', 'direction' => 'asc' ])) }}">sort</a>`

[2019-08-18 13:35] #124 closed

[2019-09-05 08:14] aglipanci opened #126 "Support for Laravel 6"
Laravel 6 is released.

Can you please add support for the latest version?

[2019-09-05 18:39] Kyslik commented on #126
https://github.com/Kyslik/column-sortable/pull/125

[2019-09-05 18:39] #126 closed

[2019-09-06 07:53] reflectedMike opened #127 "custom html for column names"
Thank you for great lib!
Is it possible not to escape html while rendering column names?

Try to reproduce:
1) I want font awesome icon with eye instead of "Status" word in column name. Like EYE_ICON + DIRECTION_ICON
2) When I use configs for this column and put in html code for icon, it is escaped and rendered as printed html code (escaped: htmlspecialcharred actually) instead of icon.
3) The onl

[2019-09-06 22:32] Kyslik commented on #127
I don't think its possible either; we need to use `htmlentities` because of possible security issues AFAIK.

I looked at the blame its way too old for me to remember exact reason why I added it there. Maybe it has to do something with line 37:

https://github.com/Kyslik/column-sortable/blob/7211a9a305219b5b710f7cb1f604ad6bdd1b1835/src/ColumnSortable/ColumnSortableServiceProvider.php#L34-L38

[2019-09-20 05:08] jp-jsr-group opened #128 "Call to undefined method Illuminate\Database\Query\Builder::sortable()"
I am getting an error when I am using the
 `$query = DB::table('users AS u')->leftJoin`

But when I use
`$query = User::leftJoin`

Is this just me or it is really a bug when using DB::table()?

[2019-09-20 09:04] Kyslik commented on #128
You can't use `DB::table()`; package works only with Eloquent.

[2019-09-22 07:02] thakools opened #129 "Unable to use Title in other language."
For example, I'd like to replace email with 'อีเมล์' (in Thai language) but it shows up blank.

I'm using version 6.0.0

`                    <th scope="col">@sortablelink('email','อีเมล์')</th>
`

![image](https://user-images.githubusercontent.com/55619697/65383554-6fcf9a80-dd41-11e9-8919-19b99bc2f3a2.png)

[2019-09-22 17:16] #128 closed

[2019-09-22 17:47] Kyslik commented on #129
Can you try (whitespace before `@`):

[code]

Because I can not reproduce; well in a way:

[code]

[2019-09-22 22:19] thakoolsri commented on #129
I tried adding space before @, i didn't work. However, It works when I add space before Thai words

![image](https://user-images.githubusercontent.com/55619697/65395180-98977480-ddc1-11e9-9ccb-63c030c2d1ac.png)

[2019-10-06 14:33] alin78hai opened #130 "Not working with Laravel 6.1.0"
Hi!
Just updated to Laravel 6.1.0 and composer removed your package.
Can you please add support for the latest version? Thank you!

[2019-10-06 16:58] Kyslik commented on #130
Seems like composer.json issue only; will need to check why there was minor release.

[2019-10-06 18:26] Kyslik commented on #130
Column Sortable [6.1.0 released](https://github.com/Kyslik/column-sortable/releases/tag/6.1.0).

Thank you for the issue.

[2019-10-06 18:26] #130 closed

[2019-10-08 07:38] msdavid1296 opened #131 "Not working for other language names"
Hi,
In my columns, I have both English and Norwegian names. It did not give me the correct result.

https://en.wikipedia.org/wiki/Danish_and_Norwegian_alphabet

I want the results like the above link.

can this be done in the plugin?

[2019-10-08 17:22] Kyslik commented on #131
Can you check https://github.com/Kyslik/column-sortable/issues/129?

[2019-10-09 04:18] msdavid1296 commented on #131
No, I am not talking about the title. I have name column in the table,

The columns have both English and Norwegian names. And it is not getting sorted according to the Norwegian alphabet. Please refer the below link.

[2019-10-09 09:33] Kyslik commented on #131
The sorting happens in your database; this package is abstraction and a helper tool for Eloquent which then constructs SQL query.

https://en.wikipedia.org/wiki/Collation

[2019-10-09 09:33] #131 closed

[2019-10-09 16:49] chadquilter opened #132 "laravel version point update"
Sorry, I know you just updated the max requirement a few days ago but Laravel just released a new point update 6.2.0.

Thank you for this project btw...

[2019-10-10 03:44] msdavid1296 commented on #131
Oh Okay. Thanks for the info

[2019-10-10 20:16] mattlibera commented on #132
With Laravel now following semver, I think it should be reasonable to use ^6.0 for the `illuminate/support` and `illuminate/database` package requirements, right?

Looking around, I see that Ignition uses this requirement scheme for `illuminate/support`: https://github.com/facade/ignition/blob/master/composer.json

And yes, thank you very much for this package :)

[2019-10-10 21:18] Kyslik commented on #132
I was actually looking at why Laravel changed the the versioning scheme; did not see any Tweet or anything like that. Yes it's reasonable to use `^6.0` instead.

Thanks for the tip.

[2019-10-11 15:58] AAllport opened #133 "[Feature Request/Proposal] Per-Model Default Sort"
Proposal to add `$sortableDefault` to the model that will be used when `sortable()` `$defaultParameters` is passed null.
This would override `columnsortable.default_first_column`

`$sortableDefault` would follow the same format as `$defaultParameters`

Happy to write the code myself!

[2019-10-14 19:16] Kyslik commented on #133
Hey @AAllport if it makes sense to you sure go ahead; please make sure you add proper tests and readme.

[2019-10-14 19:23] AAllport commented on #133
Yeah, there are a few times that I've overridden the sortable function, that in tern called the vendor provided one with some default's.
Makes sense where you want to explicitly define the defaults for things displayed in the user, but no in tasks, If that makes any sense.

Will try to get this sorted (pun intended) in the next few weeks!

[2019-10-14 19:44] Kyslik commented on #132
`6.2.0` released but `^6.0` composer constraint should be used instead.

[2019-10-14 19:44] #132 closed

[2019-10-14 19:45] Kyslik commented on #129
Can we close this? I am not sure what I can do about this. If you find out a better solution please consider making PR.

[2019-10-14 19:45] #129 closed

[2019-10-14 19:46] Kyslik commented on #127
Closing for inactivity; @reflectedMike feel free to re-open.

[2019-10-27 17:58] davejamesmiller commented on #127
@Kyslik Could it use `e()` instead of `htmlentities()`, so that we can use `new HtmlString('html here')` when we want actual HTML?

On a related note, is 'formatting_function' (`ucfirst()` by default) supposed to be applied even when a custom title is given? It is currently, but the description says "formatting function applied to name of column" not "applied to title". It's necessary to disable t

[2019-10-28 09:47] reflectedMike commented on #127
this one would be great

[2019-10-30 20:23] danielbachhuber opened #135 "Thanks for the great package!"
I just started using it and it works exactly how I'd expect.

Thanks for your hard work maintaining it :)

[2019-11-01 20:35] danielbachhuber opened #136 "Disable link from sortableLink() when there aren't any entries"
If the collection doesn't contain any entries, it would be nice if `sortableLink()` only displayed the title, and didn't render a link.

[2019-11-02 11:20] Kyslik commented on #136
Could you please elaborate a bit more and provide an example?

Yea all PRs are welcome. Most likely you want to take a look at https://github.com/Kyslik/column-sortable/blob/L6/src/ColumnSortable/SortableLink.php#L21 function and do some shenanigans there.

[2019-11-08 12:46] danielbachhuber commented on #136
Sorry for the late reply here.

Sure. Here's my sortable table that has entries:

<img width="1440" alt="image" src="https://user-images.githubusercontent.com/36432/68476723-6199e880-01e0-11ea-84a1-8215d09a47d6.png">

When there are no results on the table, I'd expect the table headings to render as, say, spans instead of links:

<img width="1181" alt="image" src="https://user-images.githubusercon

[2019-11-22 09:10] daranyK opened #138 "Don't display Japanese Title."
@sortablelink('category', 'Category')
It is working.
@sortablelink('category', "大カテゴリ名")
It is displaying empty.

[2019-12-30 06:06] sovoeun commented on #138
Hi daranyK,
I'm also facing this issue did you already resolved it please tell the solution.

Thanks

[2020-01-05 13:16] CCHECKED opened #139 "Disabling relationships"
Hi, there's a problem. When manually changing the query in the browser bar and adding to sort '.'the error occurs Relation 'text' is not instance of HasOne or BelongsTo. Therefore, any user on the site will be able to cause an error, which will lead to an overflow of the log file.

[2020-01-06 19:24] Kyslik commented on #139
Hey,

first of all when in production you need to [disable displaying debug info](https://laravel.com/docs/6.x/errors#configuration):

Second option (recommended) is to catch the exception and handle it yourself, do see [documentation](https://github.com/Kyslik/column-sortable#exception-to-catch).

[2020-01-08 07:51] Kalo79 opened #140 "Sorting joined tables?"
Hi, I love this package, but even after reading the description a few times and searching the Internet I can't figure out how to solve my problem: [https://stackoverflow.com/questions/59636401/laravel-eloquent-and-kyslik-sorting-joined-tables](https://stackoverflow.com/questions/59636401/laravel-eloquent-and-kyslik-sorting-joined-tables)
I'm sorry to bother you here. I really hope it's something t

[2020-01-08 10:13] Kalo79 commented on #140
I understood it much better by going through the working example in the package and managed to figure it out. Also, posted the solution in the StackOverflow link above. Thank you!

[2020-01-08 10:13] #140 closed

[2020-01-08 11:59] Kyslik commented on #139
Closing for inactivity; feel free to re-open.

[2020-01-08 11:59] #139 closed

[2020-01-10 15:41] daranyK commented on #138
<th data-title="大カテゴリ名">@sortablelink('category', '')</th>

 $( "th" ).each(function() {
                title = $(this).data('title');
                if (title) {
                    $(this).children("a").text(title);
                }
            });

[2020-01-17 18:08] KingProgrammerOne commented on #129
Try like this.
'อีเมล์'===> ' อีเมล์'
It will be working!

[2020-01-17 18:11] KingProgrammerOne commented on #138
try to change text with first space like this.
@sortablelink('category', " 大カテゴリ名")

[2020-01-20 10:24] daranyK commented on #138
Hi KingProgrammerOne,
It is working.
Thanks .

[2020-01-20 10:24] #138 closed

[2020-02-11 16:38] axettone opened #141 "Using many-to-many relationships"
Hi! Is it possible to sort things by many-to-many relationships? Why not?

[2020-02-11 17:19] Kyslik commented on #141
No it's not possible.

I think the limitation lies in to the fact that it is just _hard_ to do. Even if you do some research to do it in pure Laravel way you will probably run out of luck (to do it easily).

[2020-02-12 19:53] Kyslik commented on #141
Feel free to re-open.

[2020-02-12 19:53] #141 closed

[2020-02-24 13:26] seche opened #144 "@sortablelink parameter #3 not updating and using current value"
Noticed a simple bug, same as #88 but since the fix wasn't applied, I figured it needed to be raised again.

When the parameter is already set/active in your current URL, whatever you put in the 3rd parameter `@sortablelink('address', trans('fields.address'), ['filter' => 'active, visible'])` doesn't override the value.

So if your URL  `http://127.0.0.1:8000/home?foo=bar&sort=name&direction=asc`

[2020-03-01 19:06] Kyslik commented on #144
Thank you for detailed issue! :)

[2020-03-01 20:57] Kyslik commented on #127
This is now in *6.2.1* 🎉 ! I hope it's not too late :)

[2020-03-01 20:57] #127 closed

[2020-03-01 21:08] Kyslik commented on #48
I am not sure I will be able to do anything better than what @erichowey posted above.

Closing the issue. Feel free to re-open.

[2020-03-01 21:08] #48 closed

[2020-03-01 22:46] seche commented on #144
@Kyslik yes but if the get variable name is already set, it doesn't override the sortable link to use the one in parameter #3 in the function due to the order they were originally set.

For instance, I use a variable tabs with sortable tables but if tabs is already set in the get variable then it sets the same tabs value in all my sortable links on all my tabs and ignoring what values I set in the

[2020-03-05 05:22] CCHECKED opened #149 "Laravel 7 Update"
Hi, is there an update planned for Laravel 7?

[2020-03-05 10:00] Kyslik commented on #149
Yes. This weekend.

[2020-03-05 10:41] CCHECKED commented on #149
Perfectly)

[2020-03-05 10:41] #149 closed

[2020-03-07 15:08] HDVinnie opened #150 "Laravel 7 Support"
`
    - kyslik/column-sortable 6.0.0 requires illuminate/database 5.8.*|6.0.* -> satisfiable by laravel/framework[5.8.x-dev], illuminate/database[5.8.x-dev, v5.8.0, v5.8.11, v5.8.12, v5.8.14, v5.8.15, v5.8.17, v5.8.18, v5.8.19, v5.8.2, v5.8.20, v5.8.22, v5.8.24, v5.8.27, v5.8.28, v5.8.29, v5.8.3, v5.8.30, v5.8.31, v5.8.32, v5.8.33, v5.8.34, v5.8.35, v5.8.36, v5.8.4, v5.8.8, v5.8.9, v6.0.0, v6.0.1,

[2020-03-08 12:39] Kyslik commented on #150
Done in https://github.com/Kyslik/column-sortable/releases/tag/6.3.0

[2020-03-08 12:39] #150 closed

[2020-03-10 18:54] seche commented on #144
Can we please merge #145? Really seems like a no brainer. Thanks

[2020-03-30 19:37] lucperon opened #152 "Not Updating list with PHP 7.3 laravel 6.x"
Not sure if this is the right spot to put this, but this doesn't seem to work with laravel 6.2 using php7.3

It was working with php 7.1 and laravel 5.5?

[2020-03-30 19:48] Kyslik commented on #152
What does it mean "not working". What error do you get?

[2020-03-30 20:26] lucperon commented on #152
So in this line of code sortable was working until my upgrade, as far as errors go there are no "errors" the page reloads the list but the order never changes, everything else updates correctly except the list.

![image](https://user-images.githubusercontent.com/33497610/77958333-c0dcc000-7289-11ea-8571-4fa5826cd73f.png)

[2020-04-02 13:44] jagdish4249 commented on #8
@neutralrockets  @Kyslik  I have one question ... if my table name is product_types ... what should be the name of function instead of countrySortable as mentioned in https://github.com/Kyslik/column-sortable/issues/8#issuecomment-181867738
should it be productTypeSortable or product_typeSortable?

[2020-04-14 09:58] Kyslik commented on #8
@jagdish4249

You listed two options, you tried both?

[2020-04-14 19:49] mwebsites94 opened #153 "Combining paginate and joined table"
Hello everybody

I have an invoice model which is related to another model (addresses) in which the address and name of the person the invoice is sent to are stated. I create an overview and want to sort by a couple of things, such as date, invoice number and name of the addressed person. The relation is defined trough a hasOne function.

I have tried two solutions in which different problems occu

[2020-04-20 09:11] Kyslik commented on #153
This looks like an edge case I did not think about :(.

Can you post SQLs for both cases? You can get the SQLs from https://github.com/barryvdh/laravel-debugbar.

[2020-05-14 18:32] piotrbien opened #154 "Is there a way to sort nested relationship?"
Hello,
I am trying to sort a nested relationship column:
`$order->user->customerGroup->name`

I tried defining $sortable arrays in all of the related models, but when I try `@sortablelink('user.customerGroup.name')` I'm getting an error `Invalid sort argument.`

I couldn't find the solution in the docs. What am I missing?

[2020-05-15 11:22] Kyslik commented on #154
You'd have to write your own join for this to work https://github.com/Kyslik/column-sortable#columnsortable-overriding-advanced.

[2020-05-15 11:32] piotrbien commented on #154
Closing, came to this issue today with a well-slept clear mind and solved it pretty easily. Thanks for your help anyway, great package you have here!

[2020-05-15 11:32] #154 closed

[2020-05-15 15:50] Kyslik commented on #154
Yea that usually helps :) or shower 🚿 .

Enjoy and feel free to contribute.

[2020-05-21 00:35] Healyhatman opened #155 "Override base URL on @sortablelink"
My use case involves AJAX and I need the sortablelink to point to the refreshTable url instead of the index url. Is that a possibility? Thanks

[2020-05-21 01:19] Healyhatman commented on #155
PR #156 .

[2020-06-08 09:49] nk-square opened #157 "Sort by 2 or more levels of relation"
package version: 6.3.0
laravel version: 5.8.38
Hello thank you for this useful package.
I have three models
[code]
The relationship is
`Client has-many ClientRenewal has-many ClientRenewalStatus`
ClientRenewalStatus has a status_updated_at column and I want to sort the Client query by the said column. Inside the Client model I put the following code.
`public $sortable = ['clentRenewal.clientRenewa

[2020-06-12 00:51] wxyzsupermod commented on #155
@Healyhatman I am attempting to do something similar right now with using ajax and sorting could you post and example of how to use this as the docs have not been updated yet.

[2020-06-12 05:41] Healyhatman commented on #155
Docs haven't been updated because he hasn't accepted the pull request.

[2020-07-08 12:36] weeliem opened #158 "Is not working on Polymorphic relationship"
Hi, thanks for this awesome package. I found out that this package is not working on Polymorphic Relationship.

For example, there is a total of three tables.

posts
videos
comments

Now, the reason we can apply the Polymorphic Relationship here is that comment can be applied to both posts and videos.

So, the Comment model can be associated with Post and Video. When i view the comment section, th

[2020-08-27 18:07] tcowin opened #159 "Duplicate joins issue when using filtering/sorting combined with sortable"
I have a pretty complex index view that features filters, search as well as your sortable package(which is great BTW -- thank you!). When the user chooses to filter or search, and then try to sort a column that involves the same table, we end up with a duplicate join on that table. We've added the join due to the filter, then the subsequent call to sortable in the query builder adds a second join.

[2020-09-05 05:08] xuanchau9x commented on #26
how to change 'clickable_icon' => true,

[2020-09-10 11:55] tinkeshwar opened #162 "Not working with Laravel 8"
need to update the package for laravel 8 support

[2020-09-10 19:00] vandadsoft commented on #162
Please Update ASAP!

[2020-09-11 19:37] sportdude commented on #162
This maintainer is a clown. Merge the pr

[2020-09-11 20:18] sportdude commented on #162
I’ve taken over this package.

Use my fork and it will be maintained along with any changes the dev makes to it.

All current PRs will be reviewed and merged into my fork sometime this week

We deserve a better maintainer

{
    "require": {
        "sportdude/column-sortable": "^6.3.1"
    }
}

[2020-09-11 21:20] Kyslik commented on #162
Released as `6.4.0` 🎉 . Thank you.

[2020-09-11 21:20] #162 closed

[2020-09-13 12:28] Kyslik commented on #26
@xuanchau9x Its in your own config for tha package.

[2020-09-15 03:10] lachlanhickey opened #166 "MongoDB"
I haven't dived into why, but this doesn't appear to support MongoDB for some reason. Any immediate thoughts?

[2020-10-09 03:41] vinkev commented on #166
here is what I did

`
namespace App\Traits\Model;

use BadMethodCallException;
use Illuminate\Support\Str;
use Kyslik\ColumnSortable\Exceptions\ColumnSortableException;
use Kyslik\ColumnSortable\SortableLink;

trait Sortable
{
    use \Kyslik\ColumnSortable\Sortable;

    /**
     * @param \Illuminate\Database\Query\Builder $query
     * @param array                              $sortParameters

[2020-10-26 17:13] jenskuipers opened #167 "Newly created resources do not get sorted."
I implemented column-sortable on a couple of resources, in the Laravel 8 application that I am working on. It works like a charm. However; there is some kind of error.

New resources do not get sorted and stay on top, but the seeded resources do get sorted. In the code fragments below I'm showing the post resource.

**Post model:**

    public $sortable = [
        'title',
        'updated_at',

[2020-10-29 19:58] jenskuipers commented on #167
I solved it while implementing repositories in Laravel. This was probably a human error. Solved, but not explanation why.

[2020-10-29 19:58] #167 closed

[2020-11-13 05:08] geskeitaloricardo opened #168 "sortable not working with "where""
Im getting this error when trying to sort some of my columns

Here is my controller:
[code]

Any ideas??

[2020-11-13 05:22] #168 closed

[2020-11-19 17:05] airliajsmith opened #169 "Method Illuminate\Database\Eloquent\Collection::sortable does not exist."
I am using Laravel 8. I used the code you have listed and performed all steps, but still get this error: Method Illuminate\Database\Eloquent\Collection::sortable does not exist.

              $orders = $orders->sortable('number')->paginate(10);

    public $sortable = [
        'name',
        'customer_po',
        'number'
    ];

[2020-11-20 14:39] airliajsmith commented on #169
Nevermind, I figured it out. I was using $orders = $orders->sortable, when apparently you have to choose one $order and use $orders = $order->sortable. I just chose the first order in the table and it works.

[2020-11-20 14:40] #169 closed

[2020-11-29 02:58] hletick opened #172 "htmlmin"
hi

if i use htmlmin the sortable doesn't work

[2021-02-03 02:31] umar-ashrfy commented on #138
Another solution I found working is, if we change

Line#100 on vendor/kyslik/column-sortable/src/ColumnSortable/SortableLink.php

$title = call_user_func($formatting_function, $title);
↓
if(!preg_match("/^[ぁ-んァ-ヶー一-龠]+$/u",$title)) $title = call_user_func($formatting_function, $title);

Should I raise a PR for this?

[2021-02-03 09:10] kiyu92 opened #174 "Relation 'getCampus' is not instance of HasOne or BelongsTo."
I have defined the relationship in the model:

[code]

And when y sort by getCampus.id

[code]

If i not define the keys in belongsTo relationship:

[code]

I have and a MYSQL error becouse my key is not campus_id , is only campus:

[code]

My Laravel version is 8.25.0

Thanks and sorry for my English!

[2021-02-14 16:32] johbuch opened #175 "problem with pagination design"
Hello,

I encountered a problem with the pagination.
I have this method in my controller
[code]
Then i have my model
[code]
On my blade template I have this
[code]

Then on my view, i've got a problem with pagination.
cf screenshot
![image](https://user-images.githubusercontent.com/31535432/107882594-7a687200-6eea-11eb-86ef-21221e6b3c22.png)

I use laravel 8, bootstrap 4 and i have followed you tu

[2021-02-14 17:38] johbuch commented on #175
So i have found a solution for my problem
here it is

In `app/Providers/AppServiceProvider.php`, i added the use statement
`use Illuminate\Pagination\Paginator;`
then in the boot function, i added
`Paginator::useBootstrap();`

much better
![image](https://user-images.githubusercontent.com/31535432/107884171-b2c07e00-6ef3-11eb-88b5-c602b399952a.png)

Sorry, the issue was maybe not due to your packa

[2021-03-25 11:18] kevintresuelo opened #176 "Livewire & Column Sortable"
Hi! I've ran into an issue when `@sortablelink()` is placed inside a livewire component. When livewire updates its components, the link of the sortable also changes, which is replaced by some sort of fingerprint. Following code produces the error:

livewire table, using Livewire/WithPagination:
[code]

When the page first loads, the URL of the heading points to
[code]
but after switching pages usi

[2021-03-25 13:26] Kyslik commented on #176
I am not familiar with livewire; perhaps it uses some JS to manipulate DOM? I don't think I can help here.

[2021-03-25 13:27] #175 closed

[2021-03-25 13:27] Kyslik commented on #172
I am sorry I am not familiar with `htmlmin`. I don't think I can help.

[2021-03-25 13:27] #172 closed

[2021-03-25 13:29] Kyslik commented on #174
How does `@sortablelink` in view look like - https://github.com/Kyslik/column-sortable#blade-and-relation-sorting.

[2021-03-25 13:31] Kyslik commented on #159
Have you tried implementing the sorting logic yourself using the https://github.com/Kyslik/column-sortable#columnsortable-overriding-advanced?

[2021-03-25 13:33] Kyslik commented on #158
Polymorphic relationships are not supported - https://github.com/Kyslik/column-sortable#hasone--belongsto-relation-sorting

[2021-03-25 13:33] #158 closed

[2021-03-25 13:34] Kyslik commented on #157
The only thing I can recommend is to look in to overriding - https://github.com/Kyslik/column-sortable#columnsortable-overriding-advanced.

[2021-03-25 13:34] #157 closed

[2021-03-25 13:36] Kyslik commented on #152
I think you need to dig a bit deeper and check out SQL queries you execute. From that point on you should be able to figure out what's wrong & fix it. If you still think it's this packages fault feel free to reopen.

[2021-03-25 13:36] #152 closed

[2021-04-05 22:54] heliomoreira opened #177 "Issues in Laravel 7.30.4"
I Implemented your package, but the sort has some weird behavior.

* One of the rows, never is sorted
* Date dort doesn't work

https://user-images.githubusercontent.com/5754523/113636234-105a8680-966a-11eb-8f29-4edbf03972bd.mp4

Thanks

[2021-04-06 07:12] Healyhatman commented on #177
Are you using dataTables for that? Or is it loading correctly via ajax?

[2021-04-06 08:46] heliomoreira commented on #177
Hi,

I found the problem (my fault).

I was been using the orderByDesc (laravel helper) for default order, but I need to use like this: $user->sortable(['name' => 'desc'])->paginate(10);

[2021-04-06 08:46] #177 closed

[2021-04-15 06:32] seanlunar opened #178 "everything is working fine but its coming with these two angle links below.... how to i remove them"
![Web capture_15-4-2021_82940_127 0 0 1](https://user-images.githubusercontent.com/39422161/114824304-fd138d80-9dc4-11eb-9b83-311bbdb37718.jpeg)

[2021-04-22 09:49] artifex-media opened #179 "How to keep #hash in URL for @sortablelink's?"
I noticed the @sortablelink does not automaticly recognize you are on a page with a **#hash** on it, for example https://www.mywebpage.com/pages/**#tab1**

@sortablelink will not append that hash into it's link which causes the user to jump back to either a beginning of a page (if the hash is being used as an anchor) or jumps to another part of the page/default tab when the hash is being used a ta

[2021-04-26 13:12] swarrenwecareconnectorg opened #180 "Sorting With Secondary Column"
Hello.  Thank you for the wonderful library.

We're running into an odd problem.  We have a page that can be sorted on a `date` column and if a date spans two pages we run into random situations where the same items appear on both pages.  It's been really inconsistent.

Is there some way to tell the library to sort based on the date and the id so the order is consistent across pages?  If not, we w

[2021-06-08 14:19] dappstatus opened #181 "How to use sortable in a "DB::table" query?"
Because of speed improvements, I had to change my laravel eloquent query to this:

`			$data['tokens'] = DB::table('tokens')->where('active', 1)->orderBy('market_cap', 'desc')->orderby('id','desc')->paginate($page_count);
`

My problem now is that i can't use sortable as before anymore. I was expecting to use it like this, but it doesn't work:

`			$data['tokens'] = DB::table('tokens')->where('act

[2021-07-08 11:03] dunkdigital commented on #179
My work-around:

I added a new parameter called $anchorId, and appended it to the $queryString.

See updates in render() and parseParameters().

I then create the link like this: `@sortablelink('name', 'Name', [], [], ['hash' => '#jump_to_name'])`

Hope this helps.

[code]

[2021-07-08 22:32] Healyhatman commented on #179
When I get time I'll merge in my branch with custom hrefs which would
probably sort that out

On Thu, 8 Jul 2021, 9:03 pm Hugh Williams, ***@***.***> wrote:

[2021-07-09 12:22] Healyhatman commented on #179
I've merged in and made a release for my custom href update. In the fourth parameter for example you can do
`@sortablelink('column', 'Title', null, ['href' => '/#tab1'])`
Please give it a go and let me know

[2021-08-10 01:37] Healyhatman commented on #155
I merged in my PR so this can be closed

[2021-08-10 01:37] #155 closed

[2021-09-06 03:57] Healyhatman commented on #180
Does it work if you do ->sortable('date')->orderBy('id') ?

[2021-10-10 13:33] artman-shane commented on #178
I have the same problem. Did you figure it out? Im guessing it is a CSS intersection but I cannot find it...

[2022-01-16 21:50] khamyl opened #187 "Overriding the direction parameter"
Is there a possibility to override the direction parameter? I needed to have two different buttons for `ASC` and `DESC` so the toggle did not work for me. I could not find the workaround, so I suggest the following edit to the code to support this by using the `queryParameters['direction']`:

# Edits

## determineDirection() function
- Added third `$queryParameters` parameter
- Added condition whi

[2022-01-27 17:32] benjivm opened #189 "PHP 8.1 deprecation notice"
Hello, the following is showing up in logs:
[code]

[2022-02-02 05:03] benyaminl opened #190 "Sortable Union"
Hello, I want to ask, is there any possibility to make sortable works with Union?
eg 2 diff table using union, but sortable() not works at all.

[2022-02-02 05:19] benyaminl commented on #190
Forget it nvm
[code]

[2022-02-02 05:19] #190 closed

[2022-02-08 12:05] robbielove opened #192 "Configurable parameters"
I would like it if the params 'direction', 'direction' were hardcoded as a default config setting rather than hardcoded in general.

Personally, I prefer to use 'order' as 'direction' and it causes the need for both parameters in the URL because I just use 'order' and force it to populate direction so that sortable works.

This would also allow them to be translated too.

eg. something like this (

[2022-02-09 08:01] rrrkkk opened #193 "Laravel 9 support"
Now Laravel 9 is out. Any possibility for supporting that? I can help with testing and/or debugging if needed.

[2022-02-09 09:47] robbielove commented on #193
You can help test it if you like so that it is merged faster.
https://github.com/Kyslik/column-sortable/pull/191

[2022-02-09 14:32] robbielove commented on #187
I tried this out (without using the session part) - I had a different use case - I wanted to override direction to provide a way to start with a page on the default sort column (I have it defined per model) and give it the opposite direction so that it naturally sorted the other way for the default sort field
I found that I required these changes to your PR for it to work in my case
https://github

[2022-02-10 22:06] DanielSpindler opened #195 "Problem with Relation, Maximum execution time of 60 seconds exceeded"
Hey, first of all this is my first ticket ever outside of our organization :) Im already sorry for any mistakes.

The Problem in the Code below ::

Everything is Sorting as it should expect the field

`<div class="font-semibold text-left w-18">@sortablelink('articleMaster.article_name','Artikelname')</div>
`
it seems to be searching but times out after a while.

ive double checked for the column(n

[2022-02-21 22:45] #195 closed

[2022-02-21 22:46] DanielSpindler commented on #195
my own fault. Always check the querys in a Timeout... was just a bit to much in the like search.

[2022-02-21 23:00] DanielSpindler commented on #176
hey @kevintresuelo ive ran into the same issue, do you by any chance remeber how you fixxed it?

[2022-02-22 12:45] Healyhatman commented on #176
Best bet is probably to specify the href attribute

[2022-02-23 17:18] DanielSpindler commented on #176
i just made it so that clicking the Sort redirects to the first page of the Table. Solved one of the Problems. (Who would want to sort midways anyway) thanks for the Suggestion @Healyhatman

[2022-03-03 21:55] divdax opened #196 "Sorting json column don't work"
Hi,

i tried to sort by name column (datatype: json) with:
[code]
The database query doesn't contain any `order by`.

[2022-03-07 17:01] wasxxm commented on #49
This should be incorporated in the code because any custom $query->select(...) doesn't work owing to this overriding.

    if ($query->getQuery()->columns === null) {
        $query->select($parentTable.'.*');
    }

[2022-03-25 08:11] JYvman opened #197 "How to use sortable inside of a query done inside controller."
Right now, I use a query to display data into a table, so I dont have a model for it. How can I use sortable in this case?

 $trainings = Training::sortable()->paginate(8);

        $managers = DB::table('trainingdata')
            ->select('staffName','staff_id','trainer','programTitle','trainingDate','hours','reportingTo')
            ->where('staffName', $username)
            ->orWhere('report

[2022-04-06 03:12] dhanyn10 commented on #197
sorry, are you want to use sortable and search together?

[2022-05-03 11:58] m4h1r opened #198 "Calculation sortability"
Hi, thanks for the package. I am using this package for sorting my expenses. I don't have a "total" column. Instead, I have the "price" and "quantity". Is there any possibility to add a sorting feature to be able to sort calculations? Thanks.

[2022-05-14 07:53] p33rG opened #199 "use multiple sortable item in one view/component"
I ran into a problem and i can't the solution for it.
I have 2 livewire component
1-projects
2-tasks
each project have different tasks which are being shown in accordance
find attached file below
![image](https://user-images.githubusercontent.com/61878524/168416361-796a8662-a261-4966-8014-1d8b718617d9.png)

now the problem is i want to make projects as well as tasks scrollable, which means that pr

[2022-05-26 06:15] bhojkamal commented on #193
Any progress for laravel 9 compatibility?

[2022-06-09 12:16] Shaka-60hp commented on #176
How? cow you post the solution as an example? ... Thanks

[2022-07-28 17:35] JoseVte commented on #196
Hi, I had the same issue, but debugging how the query is built, I discorver that you can put alias to the order, and that alias are translate to correct JSON order from eloquent.

This is my code:

- Model

[code]

- View

[code]

With this, eloquent generates this:

`select * from `exercises`  order by json_unquote(json_extract(`name`, '$."en"')) asc limit 15 offset 0`

[2022-08-09 09:44] artifex-media commented on #179
@Healyhatman A bit late bit like to respond that this worked great :)

[2022-08-17 13:11] VorkenNet opened #201 "@sortablelink Appending Hash Fragments"
Hi Folks,
I'm an old man newby, so thank you in advance  for all the help!

there is any way to append at the @sortablelink any kind of anchor

http://127.0.0.1:8000/items?sort=item_name&direction=asc#myItemListAnchor

my "table" is in the middle of the page, so ordering will push theuser again on top without any anchor...

I find something standard working for pagination on laravel_doc9.x.

https

[2022-08-26 10:27] bessone commented on #49
I have the same problem, when sorting for a related table which may have nulls, the count is lost.

The fix proposed by @stephaned-exatech solves, after years can we consider it valid and do a PR?

[code]

[2022-09-06 21:15] Uryon987 commented on #176
Got same issue, if anyone found a solution please give us a feedback :)

[2022-09-12 21:05] TechhDan opened #202 "Incompatibility with Laravel Scout"
The Kyslik\ColumnSortable\Sortable trait is not working well with the Laravel\Scout\Searchable trait. I implemented this package and it works great by itself. However, as soon as I try to search using while using the Laravel Scout package it breaks.

![image](https://user-images.githubusercontent.com/11691784/189758447-411058a0-1c68-4e9d-bc7f-46da9d72f38e.png)

[2022-09-28 08:30] lengjunbin-trec opened #203 "I want to default some sorting to desc"
For first load.for some colimn.when first click.I want to sort this to desc.not all column.
I found `default_direction_unsorted` setting.but this setting is for all columns.
What shall I do？

[2022-09-28 08:30] lengjunbin-trec commented on #203
@Kyslik Need your help!

[2022-10-26 18:34] mr-bird-80 commented on #180
@Healyhatman Thank you, this solution works for me perfectly.